@import './_tool/_variable.scss';
@import './_tool/_other.scss';
@charset "utf-8";
/* CSS Document */

/*公用*/
.shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	z-index: 4;
	display: none;
}
.comWidth{width:1000px; margin-left:auto; margin-right:auto;}
.leftArea{float:left;}
.rightArea{float:right;
	
	a {
		// margin-left: 10px;
	}
}
.hide{display:none;}
.show{display:block;}

/*topBar*/
.topBar{height:31px; background-color:#E3E4E5; line-height:31px; color: #666;}
.collection{background:url(../images/icon/collection.jpg) left center no-repeat; padding-left:19px; font-weight:bold;}
.topBar {
	a {
		color: #666;
		&:hover{color:red;}
	}
}
/*logo*/
.logoBar{height:95px; background-color:#fff;}
.logo{
	height: 85px; line-height: 85px;
	font-size: 26px;
	color: #333;
	font-weight: bold;

	.logo-icon {
		display: inline-block;
		vertical-align: middle;
		width: 200px;
		height: 80px;
		background: url('../images/logo.png') center no-repeat;
		background-size: contain;
	}
}
/*search*/
.search_box{width:430px; margin-top:23px; margin-left:150px;border: 2px solid $clMain;
	.search_btn {
		background: $clMain;
		color: #fff;
		font-size: 16px;
	}
}
/*.search_text{width:350px;height:14px; line-height:14px; padding:11px 5px 10px; background-color:#FFF;}
*/
.search_text{width:340px;height:35px; font-size:14px; line-height:35px\9;/*css hack  \9 代表所有的ie浏览器*/ padding:0 5px; background-color:#FFF;}
.search_btn{width:80px; height:35px; font-size:14px; font-family:"Microsoft YaHei", "微软雅黑"; background-color:#FF8C00; color:#FFF;}
/*购物车*/
.shopCar{position: relative; width:145px;border: 1px solid #ddd; padding:0 25px; background: #F9F9F9; height:35px;margin-top:23px;font:14px/35px "Microsoft YaHei", "微软雅黑"; color:#FFF; display:inline;}
.shopText {
	@include disFlex;
	color: #666;
	font-size: 12px;
	.cart {
		display: inline-block;
		width: 20px;
		height: 20px;
		background: url(../images/cart.png) no-repeat center;
		background-size: contain;
	}
	.mushopcart {
		position: relative;
		.shopNum {
			text-align: center;
			background: $clMain;
		    position: absolute;
		    left: 100%;
		    top: -15px;
		    border-radius: 10px 10px 10px 0;
		    font-weight: 400;
		    color: #fff;
		    width: 25px;
		    height: 25px;
		    line-height: 25px;
		}
	}
}
/*导航*/
.navBox{height:35px; background-color:$clMain; color:#FFF;}
.shopClass{width:190px; position:relative;}
.shopClass:hover .shopClass_show { display: block; }
.shopClass h3{text-align:center; line-height:35px; cursor: pointer;}
.shopClass_icon{width:11px; height:7px; overflow:hidden; background-position:0 -39px; display:inline-block; margin-left:11px;}
.nav,.shopClass h3{font-family:"Microsoft YaHei", "微软雅黑";}
.nav{line-height:35px;}
.nav li{float:left;margin-left:1px;}
.nav a{height:35px; display:inline-block; padding:0 35px; color:#FFF;}
.nav .active,.nav a:hover{background-color:#0bbb89;}
/*商品弹出列表*/
.shopClass_show{background-color:#6E6568; position:absolute; left:0; top:35px; width:100%; padding-bottom:2px; display: none;z-index:9;}
.index .shopClass_show {display: block;}
.shopClass_item{padding:13px 10px; border-left: #6B6265 solid 1px; border-bottom:#62595c solid 1px; border-top:#7d7276 solid 1px; line-height:16px;
	position: relative;
	cursor: pointer;
	&:first-child {
		border-top: none;
	}
	&:last-child {
		border-bottom: none;
	}
	a {
		color: #fff;
	}
	.border-right-row {
		position: absolute;
		right: 10px;
		border-color: #fff;
		top: 50%;
		margin-top: -4px;
	}
	&:hover,&.active {
		background: #fff;
		a {
			color: $clMain;
		}
	}
}
.shopClass_item dt{height:21px; line-height:1; overflow:hidden;}
.shopClass_item .b{/*font-family:"Microsoft YaHei", "微软雅黑"; font-size:14px; font-weight:bold;*/ font:14px/1 "Microsoft YaHei", "微软雅黑";}
.shopClass_item .aLink{width:48px; height:20px; background:url(../images/icon/aLink_bg.png) left center no-repeat; display:inline-block; text-align:center; line-height:20px; text-decoration:underline;}

/*shopClass_item active 状态*/
.shopClass_active{background-color:#FFF; border-left:#4593FD solid 1px;}
.shopClass_active dt{background:none;}
.shopClass_active a{ color:#000;}
.shopClass_active .aLink{color:#FFF; text-decoration:none;}
/*弹出的菜单*/
.shopClass_list{display:none;width:568px; border-bottom:#6E6568 solid 2px; position:absolute; left:190px; top:35px;background:#fff;z-index:9;}
.shopClass_cont{padding:0 20px;}
.shopList_item{padding:10px 0; border-bottom:#CCC solid 1px;display:none;box-sizing: border-box;}
.shopList_item dt{color:#4B87D9; line-height:24px; font-weight:bold; height:24px;}
.shopList_item dd{padding-left:68px; line-height:24px; margin-top:-24px;}
.shopList_item dd a{margin-right:12px;}
.shopList_links{padding:15px 0;display:none;}
.shopList_links a{color:#FFF; background-color:#2785E6; height:26px; line-height:26px; font-size:12px; display:inline-block; padding:0 14px 0 8px; margin-right:10px;}
.shopList_links span{width:11px; height:7px; background:url(../images/icon/shop_sj.jpg) left center no-repeat; display:inline-block; margin-left:7px;}

/*banner部分*/
.banner{margin-bottom:15px; background: linear-gradient(45deg, black, transparent);}
.banner_bar{float:right; position:relative; overflow:hidden;}
.imgBox{position:absolute; left:0; top:0;}
.imgBox li{float:left;}
.imgBox img{display:block;}
.imgNum{position:absolute; left:0; bottom:15px; width:100%; text-align:center;}
.imgNum a{width:20px; height:5px; overflow:hidden; background-color:#FFF; display:inline-block; margin:0 3px;}
.imgNum .active{background-color:#FF7700;}
.banner_big,
.banner_big  img{width:1000px; height:326px;}
.banner_big .imgBox{width:1000px; height:326px;}
.shop_big,
.shop_big  img{width:1000px; height:510px;}
.shop_big .imgBox{width:1000px; height:510px;}
.inner_banner,.inner_banner img,.inner_banner .imgBox{width:810px; height:326px;}

.banner_sm,
.banner_sm img{width:190px; height:400px;}
.banner_sm .imgBox{width:190px; height:400px;
	.slidesjs-pagination {
		background: none;
		bottom: 5px;
		li {
			margin: 0 3px;
			a {
				width: 18px;
				border-radius: 0;
				padding-top: 5px;
				&.active {
					background: #FF7201;
				}
			}
		}
	}
}
/* 热门商品 */
.shopHot {
	position: relative;
	background: #fff;
	margin-bottom: 15px;
	padding: 15px 0;
	.comWidth {
		height: 200px;
		width: 1200px;
		position: relative;
		&:after,&:before {
			content: '';
			position:absolute;
			top: 0;
			width: 100px;
			height: 100%;
			background: rgba(255,255,255,0.8);
			filter: blur(2px);
			z-index: 9;
		}
		&:after {
			left: 0;
		}
		&:before {
			right: 0;
		}
	}
	li {
		&:nth-child(2n) {
			background: #ddd;
		}
		a {
			text-align: center;
			display: block;
			position: relative;
			width: 187px;
			&:empty {
				display: none;
			}
			&:after {
				content: '';
				position: absolute;
				left: 1px;
				right: 1px;
				top: 0px;
				width: calc(100% -  2px);
				height: calc(100% -  2px);
				border: 1px solid $clMain;
				@include opacityed(0); 
				z-index: 3;
			}
			&:before {
				content: '';
				position: absolute;
				width: 1px;
				height: 90%;
				left: 0;
				top: 5%;
				background: #ddd;
			}
			&:hover {
				&:after {
					@include opacityed(1); 
				}
			}
		}
	}
}
/* 猜你喜欢 */
.shopLike {
	border: 1px solid #ddd;
	margin-bottom: 15px;
	.like-list {
		@include disFlex();
	}
	.like-item {
		width: 200px;
		background: #fff;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			width: 1px;
			height: 90%;
			background: #ddd;
			right: 0;
			top: 5%;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
		img {
			width: 100%;
		}
		.content {
			padding: 10px;
		}
		.intro {
			display: block;
			color: #666;
			line-height: 18px;
			&:hover {
				color: $clMain;
			}
		}
		.price {
			color: $clMain;
			font-size: 24px;
			font-weight: bold;
			margin-right: 8px;
		}
		.orgin-price {
			font-size: 12px;
			color: #999;
			del {
				margin-left: 2px;
			}
		}
		.yuan {
			font-size: 12px;
		}
	}
}
/* 发现好货 */
.shopGood {
	@include disFlex();
	margin-bottom: 15px;
	.ad-box {
		width: 190px;
		position: relative;
		background: #fff;
	}
	>.box {
		width: 390px;
		.box_hd {
			position: relative;
		    padding: 0 20px 0 30px;
		    height: 55px;
		    line-height: 55px;
		    color: #fff;
			background: #4998a1;
		    background-image: -webkit-linear-gradient(left,#4998a1,#2e828b);
		    background-image: -moz-linear-gradient(left,#4998a1,#2e828b);
		    background-image: linear-gradient(90deg,#4998a1,#2e828b);
		}
		.box_hd_arrow {
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 0;
		    height: 0;
		    border-top: 19px solid #f6f6f6;
		    border-right: 19px solid transparent;
		}
		.box_hd_dec {
			position: absolute;
		    left: -4px;
		    top: -4px;
		    width: 24px;
		    height: 24px;
		    background-image: url(../images/sprite_index.png);
		    background-position: -190px -96px;
		    -moz-background-size: 218px 188px;
		    background-size: 218px 188px;
		    background-repeat: no-repeat;
		}
		.box_tit  {
		    font-size: 22px;
		    font-weight: 400;
		    line-height: 40px;
		    height: 40px;
		    padding-top: 9px;
		    display: inline-block;
		}
		.box_subtit {
			position: relative;
		    float: right;
		    margin-top: 19px;
		    padding-right: 20px;
		    height: 24px;
		    line-height: 24px;
		    font-size: 14px;
		    color: #fff;
		}
		.box_bd {
			padding: 10px;
    		height: 365px;
    		background: #fff;
    		position: relative;
		}
		.border-right-row {
			position: absolute;
			border-color: #fff;
			top: 6px;
			right: 0;
		}
	}
	.top {
		.box_hd {
			background: #e77005;
		    background-image: -webkit-linear-gradient(left,#e77005,#e45d04);
		    background-image: -moz-linear-gradient(left,#e77005,#e45d04);
		    background-image: linear-gradient(90deg,#e77005,#e45d04);
		}
		.box_hd_dec {
			    background-image: url(../images/sprite_index.png);
			    background-position: -190px 0;
			    -moz-background-size: 218px 188px;
			    background-size: 218px 188px;
			    background-repeat: no-repeat;
			    width: 24px;
			    height: 24px;
		}
	}
	.find_list {
		li {
			float: left;
		    width: 50%;
		    &:nth-child(2n) {
		    	a {
		    		border-right: none;
		    	}
		    }
		    &:nth-child(5),&:nth-child(6) {
				a {
		    		border-bottom: none;
		    	}
		    }
		}
		a {
			display: block;
		    height: 120px;
		    position: relative;
		    border-right: 1px solid #e7e7e7;
		    border-bottom: 1px solid #e7e7e7;
		    &:hover {
		    	img {
		    		right: 15px;
		    	}
		    }
		    p {
		    	font-size: 14px;
			    color: #4998a1;
			    position: absolute;
			    top: 15px;
			    left: 20px;
			    width: 80px;
			    line-height: 20px;
			    z-index: 1;
			    word-wrap: break-word;
		    }
		    img {
		    	position: absolute;
			    bottom: 5px;
			    right: 10px;
			    width: 80px;
			    height: 80px;
			    @include transitioned();
		    }
		}
	}
	.cut-line {
		height: 1px;
		background: #e7e7e7;
		margin: 16px 0;
	}
	.sell-well-item {
		p {
			font-size: 14px;
			color: #666;
			margin-bottom: 10px;
			text-indent: 25px;
		}
		ul {
			@include disFlex();
			li {
				width: 120px;
				a {
					display: block;
					height: 125px;
				}
			}
		}
	}
	.slidesjs-pagination {
		background: rgba(153,154,159,.5);
		bottom: 5px;
		line-height: 1;
		li {
			margin: 0 3px;
		}
	}
}
/* 主页推荐广告 */
.shopAd {
	height: 75px;
	background-color: #fff;
	margin: 20px 0;
	
	.comWidth {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		img {
			margin: 0 auto;
		}
	}
}
/*商品标题*/
.shopTit{height:44px; font-family:"Microsoft YaHei", "微软雅黑"; line-height:44px; margin:50px auto 70px; overflow: hidden;}
.shopTit h3 {
	position:relative;
	color: #333;

	.shopTit_ce {
		font-size: 36px;
		font-weight: bold;
	}

	.shopTit_sm {
		font-size: 18px;
		font-style: italic;
	}
}

.icon{width:44px; height:44px; background:url(../images/icon/shopIcon.jpg) left top no-repeat; float:left;}
.you-like-icon {
	float: none;
	display:inline-block;
	vertical-align: middle;
	margin-right:10px;
	background: url(../images/icon/like-icon.png) no-repeat;
	border-radius: 50%;
	background-size: contain;
	& + h3 {
		&:after,&:before {
			display: none;
		}
	}
}
/* 首页商品列表 */
.shopFood {margin-bottom: 15px;}
.pt_bd_wrapper {
	padding: 10px;
    background-color: #fff;
    overflow: hidden;
}
.pt_cover {
	position: relative;
    float: left;
    width: 183px;
    height: 260px;
    overflow: hidden;
    margin-right: 10px;
    background-color: #f7f7f7;
    a {
    	display: block;
    }
    &:hover {
    	a {
    		margin-top: -5px;
    	}
    }
}
.pt_bi {
	position: relative;
    float: right;
    width: 590px;
    .title {
    	color: $clMain;
    	margin-top: 20px;
    	margin-left: 12px;
    	font-size: 14px;
    	display: block;
    }
    .slogan {
    	display: block;
    	max-width: 100px;
    	margin-left: 12px;
    	margin-top: 5px;
    }
    a {
    	float: left;
    	display: block;
    	width: 196px;
    	height: 130px;
    	position: relative;
		border-right: 1px solid #E7E7E7;
		border-bottom: 1px solid #E7E7E7;
		&:nth-child(3n) {
			border-right: none;
		}
		&:nth-child(n+4) {
			border-bottom: none;
		}
    	img {
    		position:absolute;
    		bottom:8px;
    		right: 8px;
    		width: 100px;
    		height: 100px;
    		@include transitioned();
    	}
    	&:hover {
    		img {
    			right: 12px;
    		}
    	}
    }
}
.pt_bm {
	float: left;
	margin-top: 10px;
	width: 100%;
	@include disFlex();
	>a {
		width: 320px;
		height: 160px;
		display: block;
		position: relative;
		text-align: center;
		background: #FCFCFC;
		&:hover {
			img {
				right: 20px;
			}
		}
		img {
			position:absolute;
			width: 150px;
			right: 15px;
			top: 5px;
			@include transitioned();
		}
		&:first-child {
			.pt_bm_txt {
				background: #72BB90;
			}
		}
		&:nth-child(2) {
			.pt_bm_txt {
				background: #DDD279;
			}
		}
		&:nth-child(3) {
			.pt_bm_txt {
				background: #498C94;
			}
		}
	}
	.pt_bm_txt {
		position: absolute;
		width: 130px;
		height: 100%;
		padding: 10px;
		left: 0;
		top: 0;
		color: #fff;
		box-sizing: border-box;
		.title {
			font-size: 20px;
			padding: 8px 5px;
			position: relative;
			display: block;
			margin-top: 30px;
			margin-bottom: 10px;
			&:after, &:before {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				background: #fff;
			}
			&:after {
				top: 0;
			}
			&:before {
				bottom: 0;
			}
		}
		.slogan {
			margin-top: 10px;
			font-size: 14px;
		}
	}
}
/* 爱生活 */
.shopLife {
	margin-bottom: 15px;
	a {
		img {
			@include transitioned();
		}
		&:hover {
			img {
				margin-right: 5px;
			}
		}
	}
	.li_inner_item {
		box-sizing: border-box;
		background: #fff;
	}
	.li_content {
		padding: 8px;
	}
	.li_tt {
		color: #fff;
		font-size: 20px;
		height: 26px;
		line-height: 1;
    	padding: 16px 20px 12px 25px;
    background: #26a380;
	    h3 {
			font-weight: normal;
	    }
	}
	.li_cover {
		width: 482px;
		height: 482px;
		float: left;
		img {
			width: 100%;
		}
	}
	.li_tp_list {
		float: right;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		width: 492px;
		
		li {
			width: 48%;
			margin-bottom: 5px;
			margin-left: 5px;
		}
	}

	.li_pro_detail {
		float: left;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #ddd;
		overflow: hidden;

		> a {
			display: block;
			width: 100%;
		}

		.p_pro_mask {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #1683dd;
			opacity: 0;
			transition: 0.3s;
		}

		.p_pro_txt, .p_pro_more {
			position: absolute;
			width: 100%;
			text-align: center;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			font-size: 24px;
			color: #fff;
			transition: 0.3s;
			z-index: 8;
		}

		.p_pro_more {
			font-size: 14px;
			font-style: italic;
		}

		.p_pro_txt {
			transform: translateY(-500px);
		}

		.p_pro_more {
			transform: translateY(500px);
		}

		&:hover {
			.p_pro_mask {
				opacity: 0.7;
			}

			.p_pro_txt {
				transform: translateY(-20px);
			}

			.p_pro_more {
				transform: translateY(20px);
			}
		}
	}

	.li_bt_list {
		float: left;
		width: 100%;
		margin-top: 5px;
		ul {
			@include disFlex()
			width: 100%;
		}
		li {
			width: 155px;
		}
		a {
			display: block;
			:hover {
				box-shadow: 1px 1px 3px 1px #ddd;
			}
		}
	}
	.li_inner_beauty {
		float: right;
		.li_tt {
			background-color: #cd375e;
			background-image: -webkit-linear-gradient(90deg,#cd375e,#c1314d);
		    background-image: -webkit-linear-gradient(left,#cd375e,#c1314d);
		    background-image: -moz-linear-gradient(left,#cd375e,#c1314d);
		    background-image: linear-gradient(90deg,#cd375e,#c1314d);
		}
		.li_tp_list {
			.li_bi_tit {
				color: #cd375e;
			}
		}
	}
}
.more,.change{float:right; font-family:"宋体";}
.chg-icon {
	display: inline-block;
	vertical-align: middle;
	width:20px;
	height: 20px;
	margin-right: 10px;
	background: url(../images/change.png) no-repeat;
	background-size:contain;
}
.change:hover {
	.chg-icon {
		@include transitioned(2s);
		transform: rotateZ(-360deg);
	}
}
.more:hover,.change:hover{color: $clMain;}
/*商品列表*/
.shopList .leftArea{width:190px;}
.shopList .rightArea{width:808px; border:#E7E7E7 solid 1px; border-bottom:#FF7201 solid 3px; height:396px; overflow:hidden;}
/*商品列表-右侧*/
.shopList{margin-bottom:15px;background: #fff;}
.shopList_top,
.shopList_sm{margin-right:-4px;}
.shop_item{width:202px; border-right:#E7E7E7 solid 1px;border-bottom:#E7E7E7 solid 1px;height:279px; text-align:center; font-family:"Microsoft YaHei", "微软雅黑"; float:left;}
.shop_img{height:218px;}
.shop_img img{width:100%; height:218px; display:block;}
.shop_item h3{font-size:16px;}
.shop_item p{font-size:14px; color:#FF7300; line-height:21px;}
/*商品列表-小*/
.shopItem_sm{width:202px; border-right:#E7E7E7 solid 1px; height:110px; padding-top:6px; float:left;}
.shopItem_smImg{width:95px; height:95px; text-align:center; float:left;}
.shopItem_smImg img{width:95px; height:95px;}
.shopItem_text{padding-top:28px; width:100px; float:left;}
.shopItem_text p{color:#FF7300;}
.shopItem_text h3{font-family:"Microsoft YaHei", "微软雅黑"; font-size:16px; font-weight:normal; color:#181818; line-height:30px;}
/*底部*/
.footer{text-align:center; background-color:#F3F3F3; line-height:24px; border-top: 10px solid #f3f3f3;
	.slogan {
		padding: 20px 0;
		background: $clMain;
		color: #fff;
		font-size: 16px;
		.f-icon {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			width: 55px;
			height: 55px;
			background: url(../images/icon/index-icon.png) no-repeat;
		}
		.icon_zp {
			background-position: -3px -139px;
		}
		.icon_js {
			background-position: -63px -139px;
		}
		.icon_sh {
			background-position: -124px -139px;
		}
		.icon_zf {
			background-position: -185px -139px;
		}
		.slogan_tit {
			display: inline-block;
			vertical-align: middle;
		}
	}
	.slo-contain {
		@include disFlex();
	}
	.service {
		padding: 40px 0;
		ul {
			@include disFlex();
			align-items: flex-start;
			dt {
				font-size: 16px;
				font-weight: bold;
				color: #666;
			}
			dd {
				margin-top: 5px;
			}
		}
	}
}
.copyRight {
	padding: 20px 0;
	background: #fff;
	text-align: center;
	color: #999;
	span {
		display: inline-block;
		margin-left: 10px;
	}
}
.qulity {
	background: #fff;
	// padding-bottom: 60px;
	ul {
		text-align: center;
		li {
			display: inline-block;
			margin: 0 10px;
		}
		img {
			width: 128px;
		}
	}
}
.footer i{font-style:normal; margin:0 5px; }
.footer a{color:#666;}
.footer a:hover{color:$clMain;}
.web{padding-top:30px;}
.web img{margin:0 12px;}
.hr_25{height:25px;}
.hr_45{height:45px;}
.hr_7{height:7px; overflow:hidden;}
.hr_15{height:15px; overflow:hidden;}
/*产品分类*/
.products .leftArea{width:185px;}
.products .rightArea{width:810px;background:#fff;}
.products .banner_bar{float:none;}
.products .item{width:25%; *width:24.9%; margin-bottom:10px;}
/*产品分类导航*/
.leftNav{background-color:#fff; border:#D7D7D7 solid 1px;}
.nav_title{height:34px; line-height:34px; font-size:14px; border-bottom:#D7D7D7 solid 1px; padding-left: 10px;}
.nav_cont{padding:0 18px 4px;/*上 左右 下*/ border-bottom:#D7D7D7 1px dotted; margin-bottom:-1px;}
.nav_cont h3{font-size:12px; height:30px; line-height:30px;}
.navCont_list{line-height:25px;}
// .navCont_list li{float:left; width:50%;}
.navCont_list li a {
	display:block;
	padding-left: 10px;
	margin-left: -10px;
	margin-bottom: 5px;
	&:hover {
		color: $clMain;
	}
}
.vertical li{width:auto; float:none; padding-left:8px;}
.vertical .nav_title,
.vertical .nav_cont h3{font-family:"Microsoft YaHei", "微软雅黑"; font-size:14px;}
/*标题*/
.products_title{height:34px; border-bottom:#CCCCCC solid 2px;margin-bottom:15px;}
.products_title h3{width:180px; border-bottom:$clMain solid 2px; height:34px; line-height:34px; text-indent:9px; margin-bottom:-2px; position:relative;}
/*商品*/
.item{float:left; height:265px; position:relative;}
.item_cont{padding:0 15px;}
.img_item{height:170px; text-align:center;}
.item_cont p .title{height:40px;display:block;margin-top:10px;}
.img_item img{height:170px;
	&:hover{box-shadow:0 0 3px 1px #ddd;}
}
.item p{line-height:20px;}
.item a{color:#000;}
.item a:hover{color: $clMain;}
.money{color:#D4105A; font-weight:bold; padding-top:10px;}
.stars{width:13px; height:12px; overflow:hidden; background-position:0 0;display:inline-block; margin-right:1px;}
.hot{width:52px; height:52px; background-position:-35px 0; position:absolute; right:0; top:0;}
/*筛选*/
.screening{border-bottom:#CCC solid 1px; font-family:Verdana;}
.screening dt{line-height:32px; width:74px; text-align:right; float:left; margin-right:42px;}
.limit{width:55px; float:left; line-height:32px;}
.screening .active{background-color:#1D7AD9; color:#FFF;}
.screening a{padding:2px; }
.screening_list{line-height:32px; width:626px; float:left;}
.screening_list li{width:20%; float:left;}
.screen_more{border:#CCC solid 1px; height:23px; line-height:23px; margin-top:4px; float:left;  padding-right:11px; padding-left:11px; margin-right:10px;}
// .screen_more a{background:url(../images/icon/sj_grey.gif) right center no-repeat; padding-right:14px;}
.addInfo{height:31px; border:#CCC solid 1px; background-color:#F5F5F5;}
.address{float:left;}
.add_text{float:left; line-height:31px; padding-left:12px; padding-right:6px;}
.addInfo .select{margin-top:4px;}
.screen_text{line-height:31px; padding-right:80px;}
.check{position:relative; top:-1px; _top:4px;}
.shop_number{position:relative; _top:4px;}
.check input,
.check label{vertical-align:middle;}
.shop_number em{color:#F00; font-style:normal; font-weight:bold;}
.addCar{border:#999 solid 1px; height:22px; line-height:22px; display:inline-block; padding:0 6px 0 23px; background:url(../images/icon/car.jpg) 6px center no-repeat;}
.screening_list_more{padding-left:0.5%;}
.screening_list_more .item{width:33.3%;}
/*page*/
.page{text-align:center; position:relative; z-index:2;}
.page a{height:24px; display:inline-block; line-height:24px; border:#CCC solid 1px; padding:0 12px; margin:0 2px;}
.page .hl{display:inline-block;padding:0 12px; margin:0 2px;}
.morePage{padding-left:14px; display:inline-block; height:24px; line-height:24px;}
.pageNum{width:29px; padding:0 3px; border:#ccc solid 1px; height:24px; line-height:24px\9; text-align:center; margin-left:4px;}
.page_btn{width:44px; height:24px; line-height:24px; background-color:#E8E8E8; border:#CCC solid 1px;}
.ye{padding:0 8px 0 6px;}
.page a,
.page span,
.page input{vertical-align:middle; position:relative;}
/*组件*/
.select{border:#999 solid 1px; height:26px; line-height:26px; float:left; background-color:#FFF; padding-left:10px; padding-right:20px; position:relative; z-index:4;}
.select h3{font-size:12px; font-weight:normal;}
.select span{position:absolute; right:0; top:0; height:100%; width:20px; background:url(../images/icon/sj_blue.jpg) center center no-repeat;}
.show_select{position:absolute; left:-1px; top:22px; background-color:#FFF; width:100%;border:#999 solid 1px; display:none;}
.show_select li{padding-left:10px;}

/*商品介绍*/
.grey{background-color:#F0F0F0;}
/*位置*/
.userPosition{font-size:0; font-family:Verdana; margin-top:25px; margin-bottom:15px;}
.userPosition em,
.userPosition span,
.userPosition strong,
.userPosition a{font-size:12px;}
.userPosition em{font-style:normal;}
.userPosition a:hover{text-decoration:underline;}
.description_info{background-color:#FFF;}
.description{border:#CCC solid 1px;}
.description .leftArea{width:309px;}
.description .rightArea{width:688px; border-left:#CCC solid 1px;
	display: flex;
	flex-wrap: wrap;
	align-items: top;
	justify-content: space-between;
}
/*图片展示*/
.description_imgs {position: relative; z-index:5;}
.description_imgs .big{height:340px; text-align:center;}
.des_smimg{padding-left:1px; width:265px; margin:0 auto;}
.des_smimg li{float:left; margin-left:-1px;}
.des_smimg img{border:#CCC solid 1px;}
.des_smimg .active{border-color:#317EE7; position:relative;}
.des_content{padding:10px; width: 70%;box-sizing: border-box;}
.des_content_tit{font:bold 16px/22px "Microsoft YaHei", "微软雅黑"; padding:13px 15px;}
.des_content .dl{margin-bottom:8px;}
.des_content .dt{width:75px; float:left; position:relative; color:#666; text-indent:17px; line-height:25px;}
.des_content .dd{padding-left:75px; *padding-left:0;}
.des_money{font-size:18px; color:#F30; font-family:Verdana;}
.des_money em{font-style:normal; font-size:12px;}
/*换购*/
.hg{padding-top:4px; display:inline-block;}
.hg_icon{width:55px; height:18px; display:inline-block; background-position:0 -101px;  color:#FFF;font-style:normal; text-indent:16px; line-height:18px; margin-right:10px; float:left;}
.hg em{float:left; font-style:normal; line-height:18px;}
/*送货*/
.des_position{background-color:#F2F2F2; padding:15px 0;padding-right: 10px;}
.theGoods{line-height:24px; padding-left:10px;}
.des_content  .colorSelect{line-height:35px;}
.des_item{color:#666; padding:9px 10px; border:#CCC solid 1px; float:left; background-color:#FFF; margin-right:10px;cursor:pointer;}
.des_item_acitve{border-color:#317EE7; color:#333;}
.des_item_sm{padding:5px 7px; margin-bottom:8px;}
/*数量*/
.des_number{border:#B2B2B2 solid 1px; height:32px; width:82px; float:left;}
.des_number div{height:100%; float:left;}
.reduction,.plus{width:15px; background:url(../images/icon/plus_bg.jpg) left top no-repeat; line-height:32px; text-align:center; color:#333;cursor:pointer;}
.reduction{border-right:#CCC solid 1px;}
.plus{border-left:#CCC solid 1px;}
.des_input{width:42px; background:url(../images/icon/des_input_bg.jpg) left top no-repeat; padding:0 4px; overflow:hidden;}
.des_input input{width:100%; height:32px; line-height:32px\9; text-align:center;}
.xg{line-height:32px;  float:left; padding-left:10px; font-weight:bold; color:#656565;}
.xg em{color:#FB7700; font-style:normal;}
.des_content .des_num{line-height:32px;}
/*已选择*/
.des_select{font-weight:bold; margin:22px 0 12px; text-indent:17px;}
.des_select span{color:#0479C9;}
.shop_buy{text-align:center;}
.shopping_btn,.buy_btn{display:inline-block; width:150px; height:38px;line-height:38px; font-size: 18px; border-radius:4px;}
.buy_btn {background: #FAEDED; border: 1px solid $clMain;color:$clMain;}
.shopping_btn {background: $clMain; color: #fff;
	.cart_icon {
		width: 20px;
		height: 20px;
		display: inline-block;
		vertical-align: middle;
		margin-top: -4px;
		margin-right: 5px; 
		background:url(../images/cart_white.png) no-repeat center;
		background-size: contain;
	}
}
.line{width:1px; height:90px; overflow:hidden; background-color:#CCC; display:inline-block; margin:0 40px;}
.line,.shopping_btn,.buy_btn{vertical-align:middle;}
.notes{color:#CCC; text-indent:17px;} 
/*产品介绍*/
.des_info .leftArea{width:190px;}
.des_info .rightArea{width:790px;}
.recommend{border:#CCC solid 1px; background-color:#FFF; padding-bottom:15px;}
.recommend .tit{height:39px; border-bottom:solid 1px #ccc; line-height:39px; text-indent:15px; font-size:14px; background-color:#F3F3F3;}
.recommend .item{float:none; height:auto;margin-top:10px;}
.recommend .money{padding-top:0;}
.recommend {
	.item {
		display: block;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
	.item-intro {
		padding: 5px 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
/*详细介绍*/
.p-parameter {
	padding: 0 10px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    ul {
    	padding: 20px 0 15px;
    	overflow: hidden;
    	_zoom: 1;
    	li {
    		width: 230px;
		    padding-left: 20px;
		    float: left;
		    margin-bottom: 5px;
		    color: #666;
    	}
    }
}
.des_infoContent,.des_infoComments{border:#CCC solid 1px; background-color:#FFF;}
.des_tit{height:39px; border-bottom: #CCC solid 1px; background:url(../images/icon/des_title.jpg) left top repeat-x;}
.des_tit li{float:left; width:50%; font:14px/39px "宋体"; text-align:center; border-left:solid 1px #ccc; margin-left:-1px;}
.des_tit .active{background-color:#0479CA; font-weight:bold; color:#FFF; position:relative;}
.des_tit span{background:url(../images/icon/des_title_icon.png) left center no-repeat; padding-left:32px; display:inline-block; line-height:39px;}
.ad{padding:30px 0; text-align:center;}
.info_tit{height:26px; border-bottom:#CCC solid 1px; font-family:"Microsoft YaHei", "微软雅黑"; margin-bottom:18px;}
.info_tit h3{float:left; font-size:16px; color:#2357A5; border-bottom:#2357A5 solid 1px; height:26px; margin-bottom:-1px; position:relative; padding-right:8px;}
.info_tit h4{font-size:12px; line-height:26px; padding-left:4px; color:#656565;}
.info_text{padding:0 20px;}
.info_text p{line-height:22px; font-size:14px; color:#656565;}
.center{display:block; margin:0 auto;}
/*商品评价*/
.shopDes_tit{line-height:38px; height:38px; font-size:14px; color:#656565; padding-left:10px;}
.score_box{padding-left:10px; height:120px;}
.score{font-family:"Microsoft YaHei", "微软雅黑"; float:left; margin-right:10px;}
.score em{font-size:18px; color:#65657D; font-style:normal;}
.score span{font-size:50px; color:#FF8F00;}
.score_speed{float:left; width:450px; line-height:16px; font-size:12px; margin-top:12px; position:relative;}
.score_speed_text{overflow:hidden; margin-bottom:10px; color:#FFF; height:16px;background-color:#BDBDBD;  }
.score_speed_text li{float:left;}
.score_speed_text .speed_01{width:114px; text-indent:26px;}
.score_speed_text .speed_02{width:82px;}
.score_speed_text .speed_03{width:76px;}
.score_speed_text .speed_04{width:65px;}
.score_num{position:absolute; left:94%; top:-21px; text-align:center; width:25px; height:14px; background-color:#7F7F7F; color:#FFF;}
.score_num i{border-width:4px; border-style:solid dashed dashed dashed; border-color:#7F7F7F transparent transparent transparent; width:0; height:0;}
/*满意切换*/
.review_tab{height:32px; background-color:#F2F2F2;}
.review{line-height:32px; height:100%; padding-left:20px;}
.review li{float:left; height:100%; margin-right:40px;}
.review li a{display:inline-block; height:30px; line-height:30px; padding:0 5px;}
.review .active{color:#317DE6; font-weight:bold; border-bottom:#317DE6 solid 2px; margin-bottom:-2px; position:relative;}
.review_sort{padding:5px 5px 0 0;}
.review_sort a{display:inline-block; line-height:20px; height:20px; border:solid 1px #ccc; padding:0 20px 0 6px; background:url(../images/icon/down.png) 58px center no-repeat;}
.review_list{padding-top:18px; margin-bottom:10px;}
.review_userHead{width:170px;}
.review_user{width:60px; text-align:center; margin-left:40px;}
.review_user img{width:60px; height:60px; display:block;}
.review_user p{line-height:20px;}
.review_cont{padding-left:170px;}
.starsBox .stars{margin-top:1px;}
.stars_text{font-weight:bold; padding-left:10px;}
.review_t{height:24px; padding-top:5px;}
.review_cont p{line-height:30px;}
/*购物车*/
.stepBox{width:396px; padding-top:26px;}
.step_progress {
	overflow: hidden;
	li{ float:left;
		text-align: center;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			width: 200px;
			height: 6px;
			background : #ccc;
			top: 50%;
			margin-top: -3px;
			left: 0;
		}
		span {
			position: relative;
			display: inline-block; border-radius: 50%;
			width: 24px; height:24px;line-height:24px; text-align: center; background: #ccc; color: #fff;
			font-size: 14px;
			z-index: 2;
		}
	}
	.active {
		&:after {
			background: $clMain;
		}
		span {background: $clMain;}
	}
}
.step_text{color:#999; font-size:12px; line-height:30px;
	.active {
		color: $clMain;
	}
}
.step_text li{float:left; text-align: center;}
.s01,.s03{width:30%;}
.s02{width:40%; text-align:center;}
.s03{text-align:right;}
.shoppingCart{padding:10px;background:#fff;margin-top:40px;}
.shopping_item{border:#ccc solid 1px;}
.shopping_tit{height:31px; background:url(../images/shopping_bg.jpg) left top repeat-x;  color:#444444; font:16px/31px "Microsoft YaHei", "微软雅黑"; text-indent:12px; border-bottom:#E3E3E3 solid 1px;}
.padding_shop{padding:25px 30px;}
.shopping_list_text{float:left; width:76px; line-height:24px;}
.cart_tel,.input{vertical-align:middle;}
.cart_tel{display:inline-block; height:24px; line-height:24px;}
.shopping_list li{height:24px; margin-bottom:10px;}
.shopping_list_text em{color:#F30; font-style:normal; margin-right:5px;} 
.input{height:26px; line-height:22px\9; border:#CCC solid 1px; padding:0 6px; width:110px;}
.input_b{width:392px;}
.input_s{width:64px;}
.input_s2{width:84px;}
.jian{padding:0 3px;}
.affirm{width:114px; height:28px;  background:url(../images/sh_btn.jpg) left top no-repeat;}
.radio{position:relative; top:3px; margin-right:4px;}
.backCar{float:right; font-size:12px; font-family:"宋体"; margin-right:33px; color:#3377FF;}
.backCar:hover{text-decoration:underline;}
.cart_head{padding-top:5px;}
.cart_head .cart_item{line-height:28px;}
.cart_item{border-bottom:#CCC solid 1px; float:left;}
.t_name{width:420px; padding-left:20px;}
.t_price{width:134px;}
.t_return{width:136px;}
.t_num{width:135px;}
.t_subtotal{width:123px;}
.t_red{color:red;}
.t_checkbox {
	line-height: 100px;
	width: 60px;
	text-align: center;
}
/*商品信息*/
.cart_cont{border-bottom:solid 1px #ccc; padding: 10px 0;
	&:nth-child(2n+1) {
		background: #FAFBF2;
	}
}
.cart_cont .cart_item{border-bottom:none;}
.cart_cont .t_price,
.cart_cont .t_return,
.cart_cont .t_num,
.cart_cont .t_subtotal,.cart_cont .t_delete{line-height:37px;}
.cart_shopInfo img{width:90px; height:100px; display:block; float:left; margin-right: 10px;}
.cart_shopInfo_cont{padding-left:90px; font-size:12px;}
.cart_link{line-height:37px; margin-bottom:30px;
	&:last-child{margin-bottom:0;}
}
.cart_link a:hover{text-decoration:underline;}
.cart_info{color:#000;}
.cart_message,.cart_sendType{line-height:40px; padding-left:30px; margin-bottom:10px;}
.cart_message textarea { width: 600px; height: 80px;border: 1px solid #ddd;display:block;padding: 10px;line-height:1.2;}
.cart_sendType {
	span {
		padding: 8px 12px;
		border: 2px solid $clMain;
		margin-left: 5px;
		font-weight: bold;
	}
}
.cart_prompt{line-height:40px; padding-left:30px; color:red;}
.cart_prompt_icon{width:12px; height:12px; display:inline-block; background-position:0 -19px; margin-right:11px;}
.pb_10{padding-bottom:10px;}
.cart_no_bor{border-bottom:none;}
.cart_rmb{margin-bottom:16px;
	.change-bill {
		font-size: 14px;
		display: inline-block;
		margin-left: 10px;
		color: #3377FF;
	}
}
.cart_rmb i{font-size:14px; color:#999; font-style:normal;}
.cart_rmb span{font:bold 24px/1 Verdana; color:red;}
.cart_btnBox{text-align:right;}
.shopping_item .cart_btn{width:165px; height:36px; background-color:#E50007; font:18px/33px "Microsoft YaHei", "微软雅黑"; color:#FFF;}
/*登陆*/
.welcome_title{font:22px/85px "Microsoft YaHei", "微软雅黑"; color:#333; float:left; padding-left:24px;}
.loginBox{width:350px; padding: 6px; background: rgba(255,255,255,0.5); margin:40px auto; position:relative; margin-right: 40px;}
.login_con {
	padding: 5px;
	background: url(../images/login_bg.jpg) center;
}
.login_cont{padding:35px 25px; background: #fff; }
.login_cont {
	.to_cus {
		display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center;
		margin-bottom: 12px;
		a{ color: $clMain;}
	}
	 .title {
		font-size: 20px;
	}
	.mb_10 {
		margin-bottom: 25px;
	}
}
.l_tit{color:#666; line-height:20px;}
.login_input{border:#ccc solid 1px; height:32px; line-height:32px\9; text-indent:5px; width:100%;}
.user_icon{background:url(../images/icon/user_icon.jpg) right center no-repeat;border-radius:3px;}
.code_icon{background:url(../images/icon/code_icon.png)  right 10px center no-repeat;border-radius:3px;}
.mb_10{margin-bottom:10px;}
.autoLogin{padding-bottom:15px;}
.checked{position:relative; top:3px; margin-right:3px;}
.loginBox .login_btn{width:309px; height:40px; background: $clMain; color: #fff; font-size:16px; font-weight: bold;border-radius: 3px;}
.login_partners{padding-top:34px;}
.login_list li{float:left; line-height:20px;}
.login_list span{color:#999; margin:0 2px;}
.reg_link{width:115px; height:31px; background:url(../images/icon/red_link.jpg) left top no-repeat; position:absolute; right:0; bottom:-31px;}
.regBox{margin:40px auto; border:#CCC solid 1px; text-align: center;}
.reg_item{font:14px/34px "宋体"; width:85px; text-align:right;display: inline-block;}
.reg_item i{color:red; font-style:normal; margin-right:5px;}
.input_item{width:340px; display: inline-block;
	&.code_input {
		width: 160px;
		margin-right: 18px;
	}
}
.vCode {
	display: inline-block;
}
.regBox {background:#fff;}
.regBox li{height:60px; vertical-align:top;}
.regBox .autoLogin{height:46px; padding:0;}
.regBox .login_cont{padding:45px 76px 20px 76px;}
.login_cont .resigter_btn {
	width: 306px;
	text-align: center;
	line-height: 36px;
	background: $clMain;
	color: #fff;
	font-size: 16px;
}

/*图片合并*/
.stars,
.hg_icon,
.cart_prompt_icon,
.shopClass_icon,
.hot{
	width: 6px;
	height: 6px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
}
/* 右侧工具栏 */
.toolbar {
    position:fixed;
    z-index:999;
    right:0;
    top:0;
    width:0;
    height:100%;
    border-left:6px solid #777
}
.toolbar .toolbar_bottom,.toolbar .toolbar_tabs {
    position:absolute;
    left:-35px;
    top:45%;
    width:35px
}
.toolbar .toolbar_bottom .item,.toolbar .toolbar_tabs .item {
    position:relative;
    width:35px;
    height:35px;
    line-height:35px;
    margin-bottom:5px;
    background:#777;
    border-radius:3px 0 0 3px;
    text-align:center;
    cursor:pointer;
    border: 0;
}
.toolbar .toolbar_bottom .item a,.toolbar .toolbar_tabs .item a {
    display: block;
    color:#fff;
}
.toolbar .toolbar_bottom .item i.iconfont,.toolbar .toolbar_tabs .item i.iconfont {
    font-size:22px
}
.toolbar .toolbar_bottom .item i.iconfont,.toolbar .toolbar_tabs .item i.icon-top {
    font-size:28px
}
.toolbar .toolbar_bottom .item em,.toolbar .toolbar_tabs .item em {
    display:block;
    height:15px;
    line-height:15px;
    padding:0 3px;
    border-radius:5px;
    position:absolute;
    right:0;
    top:-5px;
    color:#fff;
    background:#ff703d
}
.toolbar .toolbar_bottom .item.selected,.toolbar .toolbar_tabs .item.selected {
    background:#ff703d
}
.toolbar .toolbar_bottom .item.selected em,.toolbar .toolbar_tabs .item.selected em {
    background:#fff;
    color:#ff5215
}
.toolbar .toolbar_bottom .item:hover,.toolbar .toolbar_tabs .item:hover {
    background:#ff703d
}
.toolbar .toolbar_bottom .item:hover span,.toolbar .toolbar_tabs .item:hover span {
    position:absolute;
    left:-58px;
    top:0;
    display:block;
    width:60px;
    height:35px;
    background:#ff703d;
    border-radius:3px 0 0 3px
}
.toolbar .toolbar_bottom .item:hover em,.toolbar .toolbar_tabs .item:hover em {
    background:#fff;
    color:#ff5215
}
.toolbar .toolbar_bottom {
    top:auto;
    bottom:10px
}

/* 招商合作 */
.co_banner {
	width: 100%;
    height: 300px;
    background: url(../images/cooperation_banner.jpg) no-repeat center center;
}
#cooperation {
	padding-top: 70px;
	h1 {
		color: white;
	    font-size: 40px;
	    margin: 0;
	    padding: 0;
	    line-height: 78px;
	    text-align: center;
	}
	h4 {
		text-align: center;
	    font-size: 15px;
	    color: white;
	    line-height: 130%;
	    padding: 0;
	    margin: 0;
	    font-weight: normal;
	}
}
#sim_query {
	padding: 50px 0;
	background: #fff;
	.tit-tip{
		max-width: 500px;
		vertical-align: top;
	}
	.di-ib {
		display: inline-block;
		font-size: 14px;
	}
	.tit-txt {
		font-size: 20px;
		color: #666;
		margin-right: 15px;
	}
	.zizhi-item {
		font-size: 16px;
		margin-top: 20px;
		input[type="text"] {
			font-size: 14px;
			border: 1px solid #ddd;
			height: 24px;
			line-height: 24px;
			padding: 5px;
		}
		ul {
			display: inline-block;
		}
		li {
			display: inline-block;
			margin-right: 5px;
			input {
				margin-right: 5px;
			}
		}
	}
	.btn {
		width: 110px;
		height: 32px;
		line-height: 32px;
		border: 1px solid $clMain;
		color: $clMain;
		text-align: center;
		border-radius: 3px;
		font-size: 14px;
		margin-top: 25px;
		cursor: pointer;
	}
	.set_img {
		float: right;
		width: 340px;
		height: 260px;
		background: url(../images/settled.jpg) no-repeat center center;
		text-align: center;
		&:after {
			content: '';
			height: 100%;
			width: 0;
			display: inline-block;
			vertical-align: middle;
		}
		.txt {
			display: inline-block;
			vertical-align: middle;
			width: 160px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border: 1px solid #fff;
			color: #fff;
			font-size: 16px;
			border-radius: 3px;
			background: rgba(0,0,0,0.4);
			cursor: pointer;
		}
	}
}
#sim_flow  {
	.fl-tit { font-size:24px; font-weight: normal; margin-top: 30px; color: #666;}
	.flow-con {
		width: 100%;
	    height: 430px;
	    margin: 0 auto;
	    background: url(../images/flow-bg.png) no-repeat;
	    background-size: contain;
	}
	.flow-item {
		float: left;
	    margin-left: 30px;
	    margin-right: 20px;
	    width: 200px;
	    &:first-child {
	    	margin-left: 10px;
	    	width: 212px;
	    }
	    &:last-child {
	    	margin-left: 35px;
	    }
	}
	.item-tit {
		font-size: 18px;
	    color: #f44336;
	    text-align: center;
	    margin-top: 150px;
	    font-size: 16px;
	    font-weight: normal;
	}
	.item-txt {
		font-size: 12px;
    	line-height: 20px;
	}
}
#footer{
	width: 100%;
	background: #fff;
	padding-top:80px;
	padding-bottom:120px;
	min-width:1200px;
}
#footer .bg-g{
	position: relative;
	height: 220px;
}
#footer .bg-g .footer-item{
	position: relative;
	width: 333px;
	height: 218px;
}
#footer .footer-item img{
	position: absolute;
	z-index: 0;
	left:0;
}
#footer .footer-item .layer{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	position: absolute;
	z-index: 2;	
	cursor: pointer;
}
#footer .footer-item .layer .icon{
	display: block;
	width: 50px;
	height: 50px;	
	position: absolute;
	top:40%;
	left:50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#footer .footer-item .layer .icon01{
	background:url(../images/icon/footer01.png) no-repeat center center;
}
#footer .footer-item .layer .icon02{
	background:url(../images/icon/footer02.png) no-repeat center center;
}
#footer .footer-item .layer .icon03{
	background:url(../images/icon/footer03.png) no-repeat center center;
}
#footer .footer-item .layer span{
	color: #fff;
	font-size: 20px;
	position: absolute;
	top:64%;
	left:50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#footer .footer-item:hover .layer{
	background: rgba(0,0,0,0.15);
}

/* 入驻流程 */
#flow{
	padding-top: 60px;
	.flow{
		width: 1210px;
		height: 1800px;
		background: url(../images/progress-bg.png) no-repeat left top;
		margin: auto;
		a {
			color: $clMain;
		}
	}
	.flow .fl-tit{
		font-size: 24px;
		margin-left: 100px;
		padding-top: 14px;
	}
	.flow .flow-con{
		width: 1210px;
		height: 430px;
		margin: 0 auto;
		background: url(../images/flow-bg.png);
	}
	.flow .flow-item{
		float: left;
		margin-left: 35px;
		margin-right: 35px;
		width: 216px;
	}
	.flow .flow-item:last-of-type{
		margin-right: 0;
	}
	.flow .flow-item:first-of-type{
		margin-left: 120px;
	}
	.flow .flow-item:first-of-type .item-tit{
		margin-left: 90px;
	}
	.flow .item-tit{
		font-size: 16px;
		color: #f44336;
		margin-left: 85px;
		margin-top: 90px;
		height: 50px;
		position:relative;
	}

	.flow .item-txt{
		font-size: 12px;
		line-height: 20px;
	}
	.pt45{
		padding-top: 45px;
	}
	.pt35{
		padding-top: 35px;
	}
	.pt31{
		padding-top: 31px;
	}
	.mt62{
		margin-top: 62px;
	}
	.mt98{
		margin-top: 98px;
	}
	.txt-cen{
		position: absolute;
		left: 0;
	    top: 50%;
	    transform: translateY(-50%);
	}
}

/* 入驻联系方式 */
.pt_contact {
	padding: 30px;
	font-size: 16px;
	background: #fff;
	.fi {
		color: $clMain;
		font-weight: bold;
		margin-bottom: 10px;
		font-size: 18px;
	}
	.se {
		color: #555;
		font-weight: bold;
		margin-bottom: 15px;
	}
	.th {
		color: #777;
	}
	ul {
		color: #999;
		li {line-height: 30px;}
	}
}

/* 入驻注意事项 */
.pt_attention {
	padding: 30px;
	font-size: 14px;
	background: #fff;
	.bold{font-weight: bold;margin-bottom: 5px;}
}
/* 注册协议 */
.for_agreement {cursor:pointer;}
.agreement {
	position: absolute;
	width: 800px;
	top: 100px;
	left: 50%;
	margin-left: -400px;
	background: #fff;
	display: none;
	z-index: 9;
	.a_tp {
		height: 36px;
		line-height: 36px;
		text-align: center;
		background: #e0e0e0;
		font-size: 15px;
		position: relative;
		.closebtn {
			font-size: 20px;
			color: #555;
			padding: 0 10px;
			position: absolute;
			right: 10px;
			top: 0;
			cursor: pointer;
		}
	}
	.content {
		height: 400px;
		overflow-y: scroll;
		padding: 10px 40px;
		font-size: 14px;
		border-bottom: 1px solid #e0e0e0;
	}
	button {
		width: 120px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background: $clMain;
		display: block;
		margin: 20px auto 40px auto;
		color: #fff;
	}
}

/* 帮助中心 */
#rightArea {width:980px;float:right;border:1px solid #ddd;background: #fff;}
// 帮助中心侧边栏
.help_c {
	width: 1170px;
	.leftArea {width: 180px;}
	.inner_con {
		padding: 0 20px;
	}
	.navCont_list li {
		width: 100%;
		a {
			display: block;
			margin-bottom: 5px;
			&:hover {
				color: $clMain;
			}
			&.active {
				background: #f3f3f3;
				color: $clMain;
				padding-left: 10px;
    			margin-left: -10px;
			}
		}
	}
}
.help-content {
	.title {
		margin:0 -20px;
		height: 30px;
		line-height: 30px;
		padding-left: 20px;
		background: #F2F2F2;
		color: #666;
		border-top: 3px solid $clMain;
		font-weight: bold;
		margin-bottom: 20px;
	}
	.help-item {
		display: none;
	}
}
/* 联系我们 */
.contact_main {
	padding: 36px 2.5%;
    box-sizing: border-box;
    margin: auto;
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    .item {
    	width: 200px;
	    height: 200px;
	    transform: rotate(45deg);
	    background: #cf1132;
	    background: radial-gradient(#e34259,#cf1132);
	    margin: 0 30px;
	    color: #fff;
	    text-align: center;
    }
    .content {
    	width: 200px;
	    height: 200px;
	    padding: 24px;
	    transform: rotate(-45deg);
	    box-sizing: border-box;
	    white-space: nowrap;
    }
    .c_title {
    	display: block;
	    font-size: 16px;
	    margin: 10px;
    }
    .to-middle {
    	display: inline-block;
	    vertical-align: middle;
	    white-space: normal;
    }
    .contact_ic {
    	width: 40px;
	    height: 40px;
	    display: block;
	    margin: auto;
    }
    .icon_company {
		background:url(../images/icon/con_1.png) center;
		background-size: contain;
    }
    .icon_loc{
    	background:url(../images/icon/con_2.png) center;
		background-size: contain;
    }
    .icon_phone {
    	background:url(../images/icon/con_3.png) center;
		background-size: contain;
    }
}

// 商户入驻协议


// 右侧悬浮购物清单
.shopCar:hover .myshopList {
	display: block;
}
.myshopList {
	display: none;
	position: absolute;
	width: 350px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 100%;
	line-height: 1.1;
	z-index: 9;
	ul {
		li {
			margin-bottom: 10px;
		}
		.left {
			float: left;
			width: 54px;
			height: 54px;
			border:1px solid #ccc;
		}
		.middle {
			float: left;
			color: #333;
			width: 182px;
			margin-left: 8px;
		}
		.right {
			float: right;
			width: 80px;
			color: #333;
			text-align: right;
			.delete {
				display: block;
				margin-top: 8px;
				cursor: pointer;
				&:hover {
					color: $clMain;
				}
			}
		}
	}
	.no-pro {
		font-size: 16px;
		line-height: 30px;
		color: #333;
		.cart {
			display: inline-block;
			vertical-align: middle;
			width: 30px;
			height: 30px;
			background: url(../images/cart.png) no-repeat center;
			background-size: contain;
			margin-right: 10px;
		}
	}
	.has-pro {
		@include disFlex();
		background: #F5F5F5;
		height: 40px;
		line-height: 40px;
		margin: 0 -10px;
		padding: 0 10px;
		color: #333;
		.left {
			width: 70%;
			span {
				font-weight: bold;
			}
		}
		.right {
			width: 28%;
			height: 34px;
			line-height: 34px;
			background: $clMain;
			text-align: center;
			color: #fff;
			cursor: pointer;
		}
	}
}

// 平台资费
.fee-detail {
	display: none;
	position:absolute;
	width: 1000px;
	padding: 20px;
	left: 50%;
	top: 120px;
	margin-left: -500px;
	box-sizing: border-box;
	background: #fff;
	z-index: 5;
	h4 {
		font-size: 18px;
		margin-bottom: 15px;
	}
	p {
		color: #999;
	}
	.txt {
		width: 100px;
		height: 36px;
		text-align: center;
		line-height: 36px;
		display: block;
		margin: 20px auto;
		background: $clMain;
		color: #fff;
	}
	table {
		width: 100%;
		margin-bottom: 10px;
		th,td {
			border: 1px solid #D7DDE4;
			height: 40px;
			text-align: center;
			width: 50%;
			padding: 5px;
			box-sizing: border-box;
		}
		th {
			background: #F5F7F9;
		}
	}
}

// 购物车
.cartlist {
	padding: 20px 10px;
	background: #fff;
	.cart-title {
		margin: 20px 0;
		background: #F5F5F5;
		border: 1px solid #ccc;
		.cart_item {
			height: 40px;
			line-height: 40px;
			border: none;
		}
		.select-all {
			vertical-align: middle;
			margin-right: 5px;
		}
	}
}
.cart-pay {
	height: 60px;
	@include disFlex();
	border: 1px solid #ccc;
	padding: 0 10px;
	margin: 20px 0;
	.c-item {
		display: inline-block;
		margin-left: 8px;
		.cost-all, .num-all {
			display: block;
		}
		.num-all{margin-top:8px;}
	}
	.right {
		@include disFlex();
	}
	.to-shop {
		margin-right: -10px;
		width: 100px;
		background: $clMain;
		color: #fff;
		text-align: center;
		line-height: 60px;
		font-size: 20px;
	}
}

// 进行支付
.pay-detail {
	background: #fff;
	font-size: 14px;
	padding: 20px;
	color: #666;
	.pay-info {
		border: 1px solid #ddd;
		margin-bottom: 20px;
		padding: 15px;
		b {
			color: $clMain;
			padding: 0 5px;
		}
		img {
			width: 200px;
			border: 1px solid #ccc;
			margin-top: 10px;
		}
	}
	.title {
		font-size: 18px;
		color: $clMain;
		margin-bottom: 10px;
	}
}

// 详情页第三方店铺说明
.third-store {
	margin-top: 25px;
	height: 228px;
	border: 1px solid #FDD6B6;
	border-right: none;
	width: 28%;
	.th-top {
		background: #FFF4E6;
		padding: 0 10px;
		text-align: center;
		h3 {
			color: #943F00;
			padding-top: 8px;
			padding-bottom: 6px;
			border-bottom: 1px solid #FFD7B4;
			font-size: 14px;
			position: relative;
			&:after,&:before {
				content: '';
				position: absolute;
				height: 1px;
				background: #A86531;
				width: 30px;
				top: 50%;
			}
			&:after {
				left: 8px;
			}
			&:before {
				right: 8px;
			}
			.th-icon {
				font-size: 12px;
				padding: 0px 2px;
				background: $clMain;
				color: #fff;
				display: inline-block;
				margin-right: 5px;
				border-radius: 2px;
			}
		}
		.third-part {
			padding: 10px 0;
			color: #AC4834;
		}
	}
	.th-content {
		padding: 20px 10px;
		color: #956695;
		.th-con-contact {
			padding: 3px 6px;
			background: $clMain;
			color: #fff;
			border-radius: 3px;
		}
		.th-line {
			margin-bottom: 12px;
		}
	}
	.th-button {
		padding: 0 10px;
		@include disFlex();
		button {
			padding: 3px 15px;
			background: #F3F3F3;
			color: #555;
			border: 1px solid #CCCCCC;
			border-radius: 3px;
			&:hover {
				color: $clMain;
			}
		}
	}
}

// 第三方店铺展示
.th_banner {
	height: 420px;
	overflow: hidden;
}
// 第三方店铺主页
.th_rightArea {
	background: #fff;
}
.th_store_info1 {
	font-size: 14px;
	height: 60px;
	line-height: 60px;
	color: #666;
	border-bottom: 1px solid #E3E3E3;
	.comWidth {
		@include disFlex();
	}
	.th-contact {
		padding: 3px 8px;
		background: $clMain;
		color: #fff;
		margin-left: 15px;
		border-radius: 3px;
		border: 1px solid #bb1a05;
	}
	.right {
		img {
			width: 16px;
		}
		a {
			&:hover {
				color: $clMain;
			}
		}
	}
}
.th_store_info2 {
	height: 100px;
	line-height: 100px;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		left: 85px;
		top: 10px;
		height: 80px;
		width: 1px;
		background: #444;
	}
	.st-name-short {
		display: inline-block;
		font-size: 26px;
		background: $clMain;
		color: #fff;
		height: 68px;
		line-height: 68px;
		width: 68px;
		text-align: center;
	}
	.store-name {
		color: #555;
		font-size: 20px;
		margin-left: 30px;
	}
}

.with-vip {

	.vip-join {
		margin-top: 40px;

		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}

		li {
			margin-bottom: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 32%;
			padding: 20px;
			flex-wrap: wrap;
			background: #fff;
			box-sizing: border-box;

			&:hover {
				.left {
					transform: scale(1.05);
				}
			}

			.left {
				width: 100%;
				border-radius: 50%;
				box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
				overflow: hidden;
				transition: 0.3s;
			}

			.right {
				flex: 1;
			}

			.title {
				font-size: 24px;
				color: #666;
			}

			.agent {
				background: #c1dcff;
				padding: 0 15px;
				height: 40px;
				line-height: 40px;
				font-size: 16px;
				color: #333;
				margin-top: 10px;
				border-radius: 6px;

				img {
					width: 24px;
					height: 24px;
				}
			}

			.vip-price {
				font-size: 16px;
				color: #26a380;
				margin: 20px 0;
				text-align: center;
			}

			.btn {
				display: block;
				font-size: 16px;
				border-radius: 20px;
				border: 1px solid #999;
				height: 40px;
				text-align: center;
				line-height: 40px;
				color: #333;
				cursor: pointer;
				margin-top: 5px;

				&:hover {
					color: #fff;
					background-color: #26a380;
					border-color: #26a380;
				}
			}
		}
	}

	.shop_bar {
		margin-bottom: 70px;

		.shop_txt {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			text-align: center;
			font-size: 28px;
			color: #0096ff;
		}

		.shop_txt_more {
			font-size: 14px;
			font-style: italic;
			text-decoration: underline;
		}
	}

	.shopAd {
		font-size: 100px;
		color: #ddd;
	}
}

// 商品详情页，介绍表格

.icon-red {
	display: block;
	float: left;
	margin: 2px 8px 0 0;
	width: 4px;
	height: 22px;
	background: #e60000
}

.proDetail {
	height: auto;
	overflow: hidden;
	float: left;
	margin-top: 20px;
	background-color: #fff;
	border: 1px solid #e6e6e6
}

.proDetail h2 {
	height: 49px;
	line-height: 49px;
	border-bottom: #e4e4e4 solid 1px;
	padding-left: 20px;
	font-size: 18px;
	background: #fafafa
}

.proDetail h2 .icon-red {
	height: 18px;
	margin-top: 16px
}

.detsMain {
	padding: 20px;
	height: auto;
	overflow: hidden
}

.detsMain {
	line-height: 200%
}

.detsMain img {
	max-width: 100%
}

.dvop-title {
	line-height: 30px;
	font-size: 14px;
	color: #333;
	padding-bottom: 10px
}

.pro-tab {
	margin-bottom: 30px;
	overflow: hidden
}

.pt-name {
	background: #f7f7f7;
	width: 160px;
	text-align: right;
	padding-right: 15px;
	border: 1px solid #ddd;
}

.pt-name h4 {
	font-size: 14px;
	color: #333;
	margin: 0;
	font-weight: 700
}

.pt-cent {
	padding-left: 15px;
	border: 1px solid #ddd;
}

.pro-tit {
	font-size: 18px;
	padding-bottom: 15px;
	font-weight: 700;
	color: #333;
	padding-top: 15px
}

.pro-txt a {
	color: #3737ee
}

.pro-txt a:hover,.prt-more:hover,.pr-img-list li a:hover {
	color: #dd2727
}

.pt-bot {
	margin-top: 30px;
	border-top: 1px dashed #e5e5e5;
	padding-top: 5px
}

.pt-bot a {
	color: #333444;
	max-width: 280px;
	overflow: hidden
}

.displayNone {
	display: none;
}