<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
</head>
<body style="display: none;" class="index with-vip">
<% include common/header.html %>
<div class="banner_pic_01">
</div>
<div class="down-main" id="Featured">
	<div class="comWidth">
		<div class="mx-title">
			软件下载
			<div class="en-title">SOFTWARE DOWNLOAD</div>
		</div>
		<div class="sm-title">以下软件是付费软件，会员付费下载优惠</div>
		<div class="down-list">
			<div class="item">
				<div class="left">
					<div class="pic"></div>
					<div class="price">会员优惠价：198元</div>
				</div>
				<div class="right">
					<div class="name">SaaS营销云</div>
					<div class="content">
						营销云结合用户行为，对客户人群属性、LBS属性、行业属性等进行全量分析，圈定目标客群，实现全维度客户引流
					</div>
					<a href="./login.html" class="to-down">立即下载</a>
				</div>
			</div>
			<div class="item">
				<div class="left">
					<div class="pic"></div>
					<div class="price">会员优惠价：198元</div>
				</div>
				<div class="right">
					<div class="name">SaaS探普云</div>
					<div class="content">
						让企业轻松管理员工、审核工作、客户管理以及运营管理等，帮助企业提升工作效率和管理效率！
					</div>
					<a href="./login.html" class="to-down">立即下载</a>
				</div>
			</div>
			<div class="item">
				<div class="left">
					<div class="pic"></div>
					<div class="price">会员优惠价：198元</div>
				</div>
				<div class="right">
					<div class="name">SaaS大数据获客系统</div>
					<div class="content">
						客保系统，客户按照营销时间、初次拜访、意向跟踪分类，对每天的工作计划清晰明朗！
					</div>
					<a href="./login.html" class="to-down">立即下载</a>
				</div>
			</div>
			<div class="item">
				<div class="left">
					<div class="pic"></div>
					<div class="price">会员优惠价：198元</div>
				</div>
				<div class="right">
					<div class="name">SaaS人力资源系统</div>
					<div class="content">
						各个部门业绩排名、人员产出比，回款预期都非常清晰，更有信心把企业做好！
					</div>
					<a href="./login.html" class="to-down">立即下载</a>
				</div>
			</div>
			<div class="circle"></div>
		</div>
	</div>
</div>
<div class="banner_pic_02">
	<div class="comWidth">
		<div class="text-main">
			<p class="line1">SAAS营销管理软件定制开发</p>
			<p class="line2">多年开发经验的专业外包团队，精准把控整个开发流程；深入贯彻全民客服理念，360度跟进你的需求，执着于设计的热爱；尊重每个项目设计沉浸其中专注而明锐的发现新的可能性。</p>
			<a href="./login.html" class="see-price">会员优惠价格298元起</a>
		</div>
	</div>
</div>
<div class="why-us">
	<div class="comWidth">
		<div class="mx-title">
			选择我们的三大优势
			<div class="en-title">THREE ADVANTAGE</div>
		</div>
		<div class="why-us-wrap">
			<div class="why-us-item">
				<div class="pic pic-01"></div>
				<div class="intro">
					<p class="title">高效的团队优势</p>
					<p>多年从业经验，年轻务实</p>
				</div>
			</div>
			<div class="why-us-item">
				<div class="intro">
					<p class="title">本地化服务优势</p>
					<p>7*24 快速响应服务模式，以客户满意为宗旨</p>
				</div>
				<div class="pic pic-02"></div>
			</div>
			<div class="why-us-item">
				<div class="pic pic-03"></div>
				<div class="intro">
					<p class="title">多行业服务经验优势</p>
					<p>项目实施，售后服务保障等全方位服务</p>
				</div>
			</div>
		</div>
	</div>
</div>

<% include common/footer.html %>
</body>
</html>
