
// 一个漂亮的引号
@import url(https://fonts.googleapis.com/css?family=Roboto);
blockquote {
 color:#fff;
 padding: 0px 70px 10px 36px;
 position: relative;
 font-family: 'Roboto', sans-serif;
 line-height: 150%;
 display: inline-block;
 font-size: 30px;

 &::before {
  color: #fff;
  content: "\201C";
  font-size: 5em;
  position:absolute;
  left:-15px;
  top: 40px;
  line-height: 0.1em;
}
	&::after {
		color: #fff;
		content: "\201D";
		font-size: 5em;
		position:absolute;
		right:15px;
		bottom: 0em;
		line-height: 0.1em;
	}
}
