<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>首页</title>
</head>

<body class="index other_header">
	<% include common/header.html %>
	<div class="contenter">
		<div class="ueeshop_responsive_article_detail  ">
			<div id="global_editor_contents" class="contents">
				<div class="about_con">
					<div class="about_item w">
						<div class="title">About Us</div>

						<div class="con">
							<div
								style="width: 100%; line-height: 30px; margin-bottom: 30px; font-size: 14px; color: #333; font-family: rr;">
								No matter whether you're doing basic repairs and maintenance, modifying your car's street appeal and
								performance, or adding high-tech lighting and electronics, our great selection of brand name products
								and knowledgeable associates will ensure success with all your automotive projects</div>

							<div
								style="width: 100%; line-height: 30px; margin-bottom: 30px; font-size: 14px; color: #333; font-family: rr;">
								No matter whether you're doing basic repairs and maintenance, modifying your car's street appeal and
								performance, or adding high-tech lighting and electronics, our great selection of brand name products
								and knowledgeable associates will ensure success with all your automotive projects No matter whether
								you're doing basic repairs and maintenance, modifying your car's street appeal and performance, or
								adding high-tech lighting and electronics, our great selection of brand name products and knowledgeable
								associates will ensure success<br>
								with all your automotive projects</div>

							<div style="width: 100%; line-height: 30px; font-size: 14px; color: #333; font-family: rr;">No matter
								whether you're doing basic repairs and maintenance, modifying your car's street appeal and performance,
								or adding high-tech lighting and electronics, our great selection of brand name products and
								knowledgeable associates will ensure success with all your automotive projects<br>
								<br>
								<div class="about_pic_1"></div>
						</div>
					</div>

					<div class="about_item w">
						<div class="title">Where We Are Going</div>

						<div class="con">
							<div
								style="width: 100%; height: 34px; line-height: 34px; margin-top: 15px; font-size: 18px; color: #111; font-family: rr;">
								Our growth will never make us lose sight of our humble beginnings.</div>

							<div
								style="width: 100%; line-height: 30px; margin-top: 20px; font-size: 14px; color: #333; font-family: rr;">
								CARTURZBO doesn't just sell products, we market them to a huge customer base that shows world-class
								representation of our vendors' products. As large as we have become, the family atmosphere that has been
								a part of CARTURZBO will always remain. From our founders right through our newest employees, we will
								ensure that the passion for the automotive business, the compassion for all of our staff, and the
								devotion to satisfying each and every customer makes us like no other business.<br>
								<br>
								<div class="about_pic_2"></div>
						</div>
					</div>

					<div class="clear">&nbsp;</div>
				</div>

			</div>
		</div>
	</div>
	<% include common/footer.html %>
</body>

</html>