<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>首页</title>
</head>

<body class="index other_header">
	<% include common/header.html %>
	<div class="contenter w">
		<div class="rightside">
			<div class="ueeshop_responsive_case_detail ">
				<div class="name">K&amp;N: The Authority in High-quality Automotive Filters</div>
				<div id="global_editor_contents" class="desc">
					<p><span style="font-size:14px;">With the latest innovation in automotive technology, K&amp;N has managed to
							provide the world's best air filters. This company has been the leader in air filter technology since
							1963, changing and developing continuously to serve only the best products to its consumers.</span></p>

					<p><span style="font-size:14px;">K&amp;N remains to be a reliable brand in off-road racing and other off-road
							endeavors. With about 80% of all these off-road vehicles equipped with K &amp; N air filters, this company
							sponsors famous off-road racing events such as the Pikes Peak, the Baja 500 &amp; 1000and theParis to
							Dakarrace. Aside from off-road events, K&amp;N has been a part of the world's most prestigious and
							technical racing association, with nine out of twelve F1 teams using K&amp;N filters.</span></p>

					<p><span style="font-size:14px;">Keeping up with the advancements in air filter technology, K&amp;N ensures
							that all its products undergo extensive product development and testing. The company's facilities use
							in-the-floor-chassis dynamometers, resulting in air filters that are technically designed to increase
							horsepower.</span></p>

					<p><span style="font-size:14px;"><strong>Cold air intake system that is sure to perform</strong></span></p>

					<p><span style="font-size:14px;">Improving the flow and quality of the air that gets into the engine should be
							able to boost the performance further. This can be a good start for the early stages of vehicle
							modification. You begin your quest for a more capable engine by investing in a cold air intake system. The
							logic behind it is you set the tip of the intake pipe as far as you can from the hot engine block. This
							way, the intake can suck more air with lower temperature. It would then feed the denser air into the block
							in hopes to make a better combustion.</span></p>

					<p><span style="font-size:14px;">The K&amp;N cold air intakes are designed to be integrated to vehicles with
							fuel injection systems. The kit includes an air filter, box and pipes that are meant to flow along the
							spaces in your engine bay. Once this is installed, the driver should be able to feel even the slightest
							increase in horsepower.</span></p>

					<p><span style="font-size:14px;"><strong>Air filters that keep the particles away from your
								engine</strong></span></p>

					<p><span style="font-size:14px;">Trueto its name, air filters are used to prevent elements found in the air
							from getting into your intake system. You should know that when particles get into your engine, it can
							compromise the performance of the block. Now, there are different designs of K&amp;N air filters that can
							be used with your set-up. The most common material used in the brand's filters are washable cotton gauze.
							These gauzes are colored with the distinctive red associated with the company. You can choose from a
							variety of universal and direct fit models along with an assortment of shapes that can work with your
							engine bay.</span></p>

					<p><span style="font-size:14px;"><strong>Short ram intake that boost engine output</strong></span></p>

					<p><span style="font-size:14px;">For the adrenaline junky on a modest budget, you can opt for the short ram
							intake. This is easier to integrate in the engine bay while it can also give a more aggressive tone to the
							block when it is running. It is designed to work with most engine set-ups so you will not have to worry
							doing extensive modifications on the car. Once ins</span></p>
				</div>
			</div>
		</div>
	</div>
	<% include common/footer.html %>
</body>

</html>