<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>首页</title>
</head>

<body class="index other_header">
	<% include common/header.html %>
	<div class="contenter w">
		<div class="rightside">
			<div class="ueeshop_responsive_case_detail ">
				<div class="name">The load-bearing advantages that hold up to the test!</div>
				<div id="global_editor_contents" class="desc">
					<p style="text-indent: 0em; line-height: 1.75em;">After you've opened your dispute, the seller will be
						notified and gets 5 days to reply to your request. For more details on your dispute, please check the order
						details.<br>
						<br>
						- If the seller agrees with your request or if he/she doesn't reply within 5 days, you will automat cally
						get your refund. This can take between 3 to 15 working days.<br>
						<br>
						- &nbsp;If the seller doesn't agree with your refund request, you can propose a new solution or wait for us
						to automatically escalate your dispute. In this case we will help you look into the matter and try to find a
						suitable solution.<br>
						<br>
						- If you escalated your dispute and haven't received an update for a long time, please get in touch customer
						service team.&nbsp;<br>
						<br>
						<img src="http://t223.web.ueeshop.com/u_file/1808/photo/13c9275629.jpg"><br>
						&nbsp;<br>
						To update your dispute, please follow the below steps:<br>
						Step 1: Sign into My Orders and find your order<br>
						Step 2: Click Dispute in Progress<br>
						Step 3: Check whether AliExpress or the seller has already proposed a solution</p>

					<ul>
						<li>You can choose to accept or reject a proposal</li>
						<li>To update your proposal, please click Edit</li>
						<li>To offer more evidence to support your claim, please click Upload Evidence. You can upload files in
							.jpg, .jpeg, .bmp or .png (2MB max).</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include common/footer.html %>
</body>

</html>