<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>首页</title>
</head>

<body class="index other_header">
	<% include common/header.html %>
	<div class="contenter w">
		<div class="rightside">
			<div class="ueeshop_responsive_case_detail ">
				<div class="name">Automotive Accessories through the Years with Lund International</div>
				<div id="global_editor_contents" class="desc">
					<p><span style="font-size:14px;">What started out as a barnyard production of sun visors in 1974, Lund
							International has grown into one of the leading providers of quality automotive accessories. Although Lund
							International was slowly gaining ground in its first few years, it wasn't until its 1997 merger with
							Deflecta-Shield Corporation of Indianola, Iowa did the company start to pick up its pace. Deflecta-Shield,
							which was established in 1961, is a successful manufacturer of hood shields. This merger enabled Lund
							International to extend its product lines to include running boards, side window deflectors and visors,
							tonneau covers, storage boxes, and truck bed protection.</span></p>

					<p><span style="font-size:14px;">Today, Lund is headquartered in a 219,000 sq. ft. facility where it designs
							and manufactures aftermarket accessories for light and heavy trucks, SUVs and CUVs, vans, and cars. It's
							functional and equally stylish product line includes hood protectors, running boards, tonneau covers, and
							other kinds of automotive accessories.</span></p>

					<p><span style="font-size:14px;"><strong>Built-to-last running boards</strong></span></p>

					<p><span style="font-size:14px;">With style and performance as the main cores of its production process, Lund
							International has been providing car owners with running boards that truly offer both form and function.
							Some of its well-known lines include Summit Ridge, Crossroads, Trailback, and Multi-fit. With the wide
							product selection that Lund International offers, finding a running board that would perfectly suit a
							vehicle can surely be done in a jiffy.</span></p>

					<p><span style="font-size:14px;">Solidly constructed from high-quality corrosion-resistant aluminum material,
							these running boards also boast an encapsulated style to make them even more durable and reliable even
							against harsh working conditions. In compliance with the company's commitment to providing
							premium-performance products, Lund International also made an effort to make its running boards even safer
							and easier to use by giving them a wider stepping surface and throwing in a slip-resistant step pad for a
							better foothold. The attention that goes into every detail of these running boards is a testament to the
							high standards that are constantly met by Lund International.</span></p>

					<p><span style="font-size:14px;"><strong>Resilient window deflectors</strong></span></p>

					<p><span style="font-size:14px;">Lund International also prides itself in making window deflectors that are
							sure to benefit almost any vehicle for a long period of time. Proudly handcrafted in the USA, these window
							deflectors come with a lengthy list of useful features that make them stand out from their competitors.
							Constructed from high-quality thermoplastic material, these deflectors are thick enough to resist UV rays
							and abrasive elements yet flexible enough to allow an easier installation process. With Lund
							International's state-of-the-art manufacturing facilities and techniques, the company also managed to
							design deflectors that feature scalloped flanges and in-channel mounting styles, which make for a more
							seamless fit and better efficiency. Obviously, appearance is another factor that Lund International didn't
							overlook. These accessories come with a modest design and finish that's sure to match any stock window
							tint. Lund International window deflectors are almost the same as the ones that came from OEMs but
							definitely with better quality.</span></p>

					<p><span style="font-size:14px;"><strong>Sturdy tonneau covers</strong></span></p>

					<p><span style="font-size:14px;">In addition to running boards and deflectors, Lund International also caters
							to the cargo needs of truck owners by offering its own lines of premium tonneau covers, Genesis and
							Genesis Elite. Along with well-built aluminum frames to offer reliable support, Lund International also
							ensure that these tonneau covers last against the harsh elements that they're bound to run into by using
							soft fabric materials that are resistant against moisture, UV rays, and dirt. With a variety of styles to
							boot, there's no denying that Lund International takes the appearance and performance of its products
							seriously.</span></p>
				</div>
			</div>
		</div>
	</div>
	<% include common/footer.html %>
</body>

</html>