<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>首页</title>
</head>

<body class="index lang_en">
	<% include common/header.html %>
	<div id="banner">
		<a></a></div>
	</div>
	<div id="professional">
		<div class="index_wrapper_1200">
			<div class="profes_left">
				<a class="profes_left_top"><div class="professional_1"></div></a>
				<a class="profes_left_bot"><div class="professional_2"></div></a>
			</div>
			<div class="profes_right">
				<div class="profes_right_top">
					<p class="small_title">We are professional</p>
					<div class="profes_right_title">One of China's leading suppliers of customized metal parts</div>
					<p class="profes_right_content">We provide high quality metal parts with competitive price according to
						customer's drawings and specifications.<br>
						<br>
						We are experts in metal parts, such as forging parts (hot forging and cold forging), casting parts
						(precision casting and die casting), metal stamping parts, CNC machining parts, metal injection molding
						(MIM) parts, plastic injection parts, sanitary valves, various. We provide services for various applications
						in different industries such as automobile, industry, electronics and medical treatment.</p>
				</div>
				<div class="profes_right_bot profes_items">
					<div class="profes_item">
						<span>
							<div class="profes_item_number">25+</div>
							<p class="profes_content">Years Experience</p>
						</span>
					</div>
					<div class="profes_item">
						<span>
							<div class="profes_item_number">36</div>
							<p class="profes_content">Industries Served</p>
						</span>
					</div>
					<div class="profes_item">
						<span>
							<div class="profes_item_number">105</div>
							<p class="profes_content">Factories Built</p>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="recommend">
		<div class="recommend_list">
			<div class="recommend_item_top">
				<div class="recommend_item">
					<p class="recommend_item_small_title">We are professional</p>
					<div class="recommend_item_title">Automotive field</div>
					<p class="recommend_item_content">We are experts in metal parts, for example Forging parts (hot forging and
						cold forging), casting parts (precision casting and die casting),Metal stamping parts, CNC machining parts,
						metal injection molding (MIM) parts,Plastic injection parts, sanitary valves, various hardware products,
						etc.</p>
						<a class="recommend_item_btn" href="case1.html">Read More</a>
				</div>
				<div class="recommend_item recommend_item_img">
					<a href="case1.html" title="Automotive field"><div class="recommend_1"></div></a>
				</div>
			</div>
			<div class="recommend_item_center">
				<div class="recommend_item recommend_item_img">
					<a href="case2.html">
						<div class="recommend_2"></div></a>
				</div>
				<div class="recommend_item">
					<p class="recommend_item_small_title">We are professional</p>
					<div class="recommend_item_title">Industrial field</div>
					<p class="recommend_item_content">We are experts in metal parts, for example Forging parts (hot forging and
						cold forging), casting parts (precision casting and die casting),Metal stamping parts, CNC machining parts,
						metal injection molding (MIM) parts,Plastic injection parts, sanitary valves, various hardware products,
						etc.</p>
						<a class="recommend_item_btn" href="case2.html">Read More</a>
				</div>
			</div>
			<div class="recommend_item_bot">
				<div class="recommend_item">
					<p class="recommend_item_small_title">We are professional</p>
					<div class="recommend_item_title">Electronics &amp; Medical Care </div>
					<p class="recommend_item_content">We are experts in metal parts, for example Forging parts (hot forging and
						cold forging), casting parts (precision casting and die casting),Metal stamping parts, CNC machining parts,
						metal injection molding (MIM) parts,Plastic injection parts, sanitary valves, various hardware products,
						etc.</p>
						<a class="recommend_item_btn" href="case3.html">Read More</a>
				</div>
				<div class="recommend_item recommend_item_img">
					<a href="case3.html" title="Electronics &amp; Medical Care">
						<div class="recommend_3"></div></a>
				</div>
			</div>
		</div>
	</div>
	<div id="product">
		<div class="index_wrapper_1200">
			<div class="product_title">Our Prodcuts</div>
			<p class="product_content">We are one of the leading suppliers of customized metal parts in China.We provide high
				quality metal parts with competitive price .</p>
			<div class="product_list">
				<div class="product_item">
					<div class="product_item_img"><a class="img"
							href="./product1.html"
							title="Wilwood® - Street Performance Drilled and Slotted Brake Kit"><div class="prd prd_1"></div></a>
					</div>
					<div class="product_item_text">
						<div class="product_item_title"><a
								href="./product1.html"
								title="Wilwood® - Street Performance Drilled and Slotted Brake Kit">Wilwood® - Street Performance
								Drilled and Slotted Brake Kit</a></div>
						<p class="product_item_content">Street Performance Drilled and Slotted Brake Kit by Wilwood®. With this kit,
							you will significantly improve your braking performance. Suitable for all types of custom show and high
							performance street/strip vehicles this kit is a perfect compliment to whee</p>
					</div>
				</div>
				<div class="product_item">
					<div class="product_item_img"><a class="img" href="./product2.html"
							title="Braum® - Elite-X Sport Seats"><div class="prd prd_2"></div></a>
					</div>
					<div class="product_item_text">
						<div class="product_item_title"><a href="./product2.html"
								title="Braum® - Elite-X Sport Seats">Braum® - Elite-X Sport Seats</a></div>
						<p class="product_item_content">Elite-X Sport Seats by Braum®. Pair. Include: Two racing seats &amp; dual
							lock sliders. BRAND NEW ELITE-X Series seats are wrapped in luxurious leatherette in a sleek, aggressive,
							race-inspired shape. The result is an understated yet unmistakable silhouette t</p>
					</div>
				</div>
				<div class="product_item">
					<div class="product_item_img"><a class="img" href="./product3.html"
							title="KSport® - SuperComp Cross Drilled Brake Kit"><div class="prd prd_3"></div></a>
					</div>
					<div class="product_item_text">
						<div class="product_item_title"><a href="./product3.html"
								title="KSport® - SuperComp Cross Drilled Brake Kit">KSport® - SuperComp Cross Drilled Brake Kit</a>
						</div>
						<p class="product_item_content">SuperComp Cross Drilled Brake Kit by KSport®. This is K-Sport's most extreme
							brake upgrade kit designed to provide the highest level of stopping power with larger-diameter disc
							rotors. All calipers feature 1-piece construction from a solid billet of aircr</p>
					</div>
				</div>
			</div>
			<div class="product_btn"><a href="product.html">View all Products</a></div>
		</div>
	</div>
	<div id="news">
		<div class="index_wrapper_1200">
			<div class="news_title">Lastest News</div>
			<p class="news_content">New stories from us</p>
		</div>
		<div class="news_list">
			<div class="news_item">
				<div class="news_item_img">
					<a href="./news1.html"
						title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID"><div class="img img_1"></div></a>
				</div>
				<div class="news_item_text">
					<div class="news_item_title"><a
							href="./news1.html"
							title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID">Recaro Automotive
							Seating Announces Partnership with Onyx Enterprises' CAR ID</a></div>
					<p class="news_item_date">August 08.07</p>
					<p class="news_item_content">LAS VEGAS, Nov. 2, 2017 /PRNewswire/ -- Recaro Automotive Seating announced that
						beginning on "Black Friday," November 24, 2017, the premium brand's products will be available for purchase
						on Onyx Enterprises' CAR ID site. CAR ID is a premier marketer of</p>
				</div>
			</div>
			<div class="news_item">
				<div class="news_item_img">
					<a href="./news2.html"
						title="BEST GIFTS FOR THE CAR LOVER ON YOUR SHOPPING LIST"><div class="img img_2"></div></a>
				</div>
				<div class="news_item_text">
					<div class="news_item_title"><a
							href="./news2.html"
							title="BEST GIFTS FOR THE CAR LOVER ON YOUR SHOPPING LIST">BEST GIFTS FOR THE CAR LOVER ON YOUR SHOPPING
							LIST</a></div>
					<p class="news_item_date">August 08.07</p>
					<p class="news_item_content">The holidays are quickly approaching, and with all the seasonal excitement comes
						new trends and must-have items. For those looking to impress the car lover on their gift list, there are
						upgrades that can provide them an improved look, better performance,</p>
				</div>
			</div>
			<div class="news_item">
				<div class="news_item_img">
					<a href="./news3.html"
						title="Road trippers should take an extra-long test drive"><div class="img img_3"></div></a>
				</div>
				<div class="news_item_text">
					<div class="news_item_title"><a
							href="./news3.html"
							title="Road trippers should take an extra-long test drive">Road trippers should take an extra-long test
							drive</a></div>
					<p class="news_item_date">August 08.07</p>
					<p class="news_item_content">If you're looking for a new car, here's a little advice from your fellow
						travelers: Take your time. I mean,&nbsp;really&nbsp;take your time. Test drive the vehicle a few extra
						miles, or hundreds of miles, to make sure the designers didn't take the day off when they</p>
				</div>
			</div>
			<div class="news_item">
				<div class="news_item_img">
					<a href="./news4.html"
						title="Top 5 Car Noises You Shouldn’t Ignore and How to Finance the Repairs"><div class="img img_4"></div></a>
				</div>
				<div class="news_item_text">
					<div class="news_item_title"><a
							href="./news4.html"
							title="Top 5 Car Noises You Shouldn’t Ignore and How to Finance the Repairs">Top 5 Car Noises You
							Shouldn’t Ignore and How to Finance the Repairs</a></div>
					<p class="news_item_date">August 08.07</p>
					<p class="news_item_content">You’re driving down the road and suddenly start to hear thumping, scraping, or
						hissing coming from your car. What do you do? Call roadside assistance? Keep driving?

						If you aren’t sure, read on to hear from two auto experts on which car noises you shoul</p>
				</div>
			</div>
		</div>
	</div>
	<% include common/footer.html %>
</body>

</html>