<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>首页</title>
</head>

<body class="index other_header">
	<% include common/header.html %>
	<div class="info-list wrap-module">
		<div class="wrap menu-in-left">
			<div class="rightside w">
				<div class="ueeshop_responsive_info_list ">
					<div class="item ">
						<div class="img"><a
								href="./news1.html"
								title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID"><div class="news_pic news1"></div></a></div>
						<div class="info fr">
							<h3 class="title"><a
									href="./news1.html"
									title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID">Recaro
									Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID</a></h3>
							<div class="time">
								<h1>Aug 07, 2018</h1>
								<h2>08-07<span>2018</span></h2>
							</div>
							<a href="./news1.html"
								title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID" class="desc">LAS
								VEGAS, Nov. 2, 2017 /PRNewswire/ -- Recaro Automotive Seating announced that beginning on "Black
								Friday," November 24, 2017, the premium brand's products will be available for purchase on Onyx
								Enterprises' CAR ID site. CAR ID is a premier marketer of</a>
						</div>
						<a class="link"
						href="./news1.html"
							title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID"></a>
						<div class="clear"></div>
					</div>
					<div class="item ">
						<div class="img"><a
							href="./news2.html"
								title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID"><div class="news_pic news2"></div></a></div>
						<div class="info fr">
							<h3 class="title"><a
								href="./news2.html"
									title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID">Recaro
									Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID</a></h3>
							<div class="time">
								<h1>Aug 07, 2018</h1>
								<h2>08-07<span>2018</span></h2>
							</div>
							<a href="./news2.html"
								title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID" class="desc">LAS
								VEGAS, Nov. 2, 2017 /PRNewswire/ -- Recaro Automotive Seating announced that beginning on "Black
								Friday," November 24, 2017, the premium brand's products will be available for purchase on Onyx
								Enterprises' CAR ID site. CAR ID is a premier marketer of</a>
						</div>
						<a class="link"
							href="./news2.html"
							title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID"></a>
						<div class="clear"></div>
					</div>
					<div class="item ">
						<div class="img"><a
								href="./news3.html"
								title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID"><div class="news_pic news3"></div></a></div>
						<div class="info fr">
							<h3 class="title"><a
									href="./news3.html"
									title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID">Recaro
									Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID</a></h3>
							<div class="time">
								<h1>Aug 07, 2018</h1>
								<h2>08-07<span>2018</span></h2>
							</div>
							<a href="./news3.html"
								title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID" class="desc">LAS
								VEGAS, Nov. 2, 2017 /PRNewswire/ -- Recaro Automotive Seating announced that beginning on "Black
								Friday," November 24, 2017, the premium brand's products will be available for purchase on Onyx
								Enterprises' CAR ID site. CAR ID is a premier marketer of</a>
						</div>
						<a class="link"
							href="./news3.html"
							title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID"></a>
						<div class="clear"></div>
					</div>
					<div class="item ">
						<div class="img"><a
								href="./news4.html"
								title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID"><div class="news_pic news4"></div></a></div>
						<div class="info fr">
							<h3 class="title"><a
									href="./news4.html"
									title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID">Recaro
									Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID</a></h3>
							<div class="time">
								<h1>Aug 07, 2018</h1>
								<h2>08-07<span>2018</span></h2>
							</div>
							<a href="./news4.html"
								title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID" class="desc">LAS
								VEGAS, Nov. 2, 2017 /PRNewswire/ -- Recaro Automotive Seating announced that beginning on "Black
								Friday," November 24, 2017, the premium brand's products will be available for purchase on Onyx
								Enterprises' CAR ID site. CAR ID is a premier marketer of</a>
						</div>
						<a class="link"
							href="./news4.html"
							title="Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID"></a>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div><!-- .rightside -->
		</div>
	</div>
	<% include common/footer.html %>
</body>

</html>