<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>首页</title>
</head>

<body class="index other_header">
	<% include common/header.html %>
	<div class="contenter w">
		<div class="rightside">
			<div class="ueeshop_responsive_info_detail ">
				<h1 class="title">Recaro Automotive Seating Announces Partnership with Onyx Enterprises' CAR ID</h1>
				<div class="ext_mes">
					<div>Views : 341</div>
					<div>Update time : 2018-08-07 01:44:27</div>
				</div>
				<div id="global_editor_contents" class="contents"><span style="font-size:14px;">LAS VEGAS, Nov. 2, 2017
						/PRNewswire/ -- Recaro Automotive Seating announced that beginning on "Black Friday," November 24, 2017, the
						premium brand's products will be available for purchase on Onyx Enterprises' CAR ID site. CAR ID is a
						premier marketer of automotive aftermarket products and accessories with a world-class e-commerce platform
						(www.carid.com). Recaro seats will remain available through its proven dealership network.<br>
						<br>
						"We are pleased to announce this partnership. It underlines Recaro's commitment to expand and focus on the
						U.S. marketplace and offer enthusiasts a reliable, high quality channel to purchase the industry's best
						automotive seats," says Martin C. Klein, vice president Recaro Automotive Seating. "Our cooperation will
						allow us to leverage CAR ID's far-reaching premium website, technology, highly trained sales staff, their
						content and strong U.S. consumer base."<br>
						<br>
						Recaro Automotive Seating is back at the 2017 SEMA show as an exhibitor, and will further strengthen the
						brand's position in the U.S. marketplace. At its booth 50113 in the Performance Pavilion, the company will
						reveal four new seats for the American aftermarket. For more information on Recaro Automotive Seating,
						please visit www.recaro-automotive-sema.com.</span><br>
					<br>
					<img src="https://t260.web.ueeshop.com/u_file/1808/photo/d9f145c591.jpg"><br>
					<br>
					<strong><span style="font-size:18px;">About Recaro Automotive Seating:&nbsp;</span></strong><br>
					<br>
					<span style="font-size:14px;">Recaro Automotive Seating is the premium brand of Adient. At seven locations in
						Germany, Poland, Slovakia, Japan, Mexico and the USA, we design, manufacture, and market complete seats
						representative of our core competencies of design, ergonomics, craftsmanship, robustness, lightweight
						construction, and first-class workmanship, under the brand name Recaro. Recaro Automotive Seating consists
						of two units: While Recaro Performance Car Seating offers passenger car seats of OEMs and the aftermarket,
						Recaro Commercial Vehicle Seating focuses on commercial vehicle seats in the OEM and aftermarket segments.
						Recaro Automotive Seating uses the brand Recaro under a license of the Recaro Holding.</span><br>
					<br>
					<span style="font-size:18px;"><strong>About Adient:&nbsp;</strong></span><br>
					<br>
					<span style="font-size:14px;">Adient is a global leader in automotive seating. With 86,000 employees operating
						237 manufacturing/assembly plants in 33 countries worldwide, we produce and deliver automotive seating for
						all vehicle classes and all major OEMs. From complete seating systems to individual components, our
						expertise spans every step of the automotive seat making process. Our integrated, in-house skills allow us
						to take our products from research and design all the way to engineering and manufacturing – and into more
						than 25 million vehicles every year. For more information on Adient, please visit adient.com.<br>
						<br>
						SOURCE Recaro Automotive Seating</span></div>
				<div class="pro_prev_next info_prev_next clean">
					<span>Next : </span>
					<a href="/article/best-gifts-for-the-car-lover-on-your-shopping-list-i00012i1.html"
						title="BEST GIFTS FOR THE CAR LOVER ON YOUR SHOPPING LIST" class="next">BEST GIFTS FOR THE CAR LOVER ON YOUR
						SHOPPING LIST</a>
				</div>
			</div>
		</div>
	</div>
	<% include common/footer.html %>
</body>

</html>