<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>产品详情</title>
</head>

<body class="index other_header">
	<% include common/header.html %>
	<div class="wrap">
		<div class="ueeshop_responsive_products_detail ">
			<div class="gallery">
				<div class="bigimg">
					<div class="zoom_out">
						<a href="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg" class="MagicZoom" id="zoom"
							rel="zoom-position:custom; zoom-width:350px; zoom-height:350px;" title=""
							style="position: relative; display: block; text-decoration: none; outline: 0px; width: 500px;"><img
								src="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg.500x500.jpg" id="bigimg_src"
								alt="Wilwood® - Street Performance Drilled and Slotted Brake Kit"
								style="visibility: visible; zoom: 1; opacity: 1;">
						</a>
					</div>
				</div>
				<div id="zoom-big">
					<div class="MagicZoomBigImageCont"
						style="overflow: hidden; z-index: 100; top: -10000px; position: absolute; width: 350px; height: 350px; visibility: visible; zoom: 1; opacity: 1;">
						<div class="MagicZoomHeader"
							style="position: relative; z-index: 10; left: 0px; top: 0px; padding: 3px; display: none; visibility: hidden;">
						</div>
						<div style="overflow: hidden;"><img
								src="https://t260.web.ueeshop.comhttps://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg"
								style="position: relative; border-width: 0px; padding: 0px; left: -150px; top: -46px;"></div>
						<div
							style="color: rgb(204, 204, 204); font-size: 10px; font-weight: normal; font-family: Tahoma; position: absolute; width: 99%; text-align: right; left: 0px; top: 330px;">
						</div>
					</div>
				</div>
				<div class="left_small_img">
					<div class="bx-wrapper" style="max-width: 95px;">
						<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 410px;">
							<div class="left_small_img_inner"
								style="width: auto; position: relative; transition-duration: 0s; transform: translate3d(0px, -420px, 0px);">
								<span class="slide pic_box bx-clone" pos="2" pic="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg.240x240.jpg"
											alt="Wilwood® - Street Performance Drilled and Slotted Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg" style="display:none;">
								</span><span class="slide pic_box bx-clone" pos="3"
									pic="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg.240x240.jpg"
											alt="Wilwood® - Street Performance Drilled and Slotted Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg" style="display:none;">
								</span><span class="slide pic_box bx-clone" pos="4"
									pic="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg.240x240.jpg"
											alt="Wilwood® - Street Performance Drilled and Slotted Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg" style="display:none;">
								</span><span class="slide pic_box bx-clone" pos="5"
									pic="https://t260.web.ueeshop.com/u_file/1808/products/10/d6a7ab210a.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/d6a7ab210a.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/d6a7ab210a.jpg.240x240.jpg"
											alt="Wilwood® - Street Performance Drilled and Slotted Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/d6a7ab210a.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/d6a7ab210a.jpg" style="display:none;">
								</span>
								<span class="slide pic_box" pos="1" pic="https://t260.web.ueeshop.com/u_file/2003/products/28/c11126f681.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/2003/products/28/c11126f681.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/2003/products/28/c11126f681.jpg.240x240.jpg"
											alt="Wilwood® - Street Performance Drilled and Slotted Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/2003/products/28/c11126f681.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/2003/products/28/c11126f681.jpg" style="display:none;">
								</span>
								<span class="slide pic_box on" pos="2" pic="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg.240x240.jpg"
											alt="Wilwood® - Street Performance Drilled and Slotted Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg" style="display:none;">
								</span>
								<span class="slide pic_box" pos="3" pic="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg.240x240.jpg"
											alt="Wilwood® - Street Performance Drilled and Slotted Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg" style="display:none;">
								</span>
								<span class="slide pic_box" pos="4" pic="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg.240x240.jpg"
											alt="Wilwood® - Street Performance Drilled and Slotted Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg" style="display:none;">
								</span>
								<span class="slide pic_box" pos="5" pic="https://t260.web.ueeshop.com/u_file/1808/products/10/d6a7ab210a.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/d6a7ab210a.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/d6a7ab210a.jpg.240x240.jpg"
											alt="Wilwood® - Street Performance Drilled and Slotted Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/d6a7ab210a.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/d6a7ab210a.jpg" style="display:none;">
								</span>
								<span class="slide pic_box bx-clone" pos="1" pic="https://t260.web.ueeshop.com/u_file/2003/products/28/c11126f681.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/2003/products/28/c11126f681.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/2003/products/28/c11126f681.jpg.240x240.jpg"
											alt="Wilwood® - Street Performance Drilled and Slotted Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/2003/products/28/c11126f681.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/2003/products/28/c11126f681.jpg" style="display:none;">
								</span><span class="slide pic_box bx-clone" pos="2"
									pic="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg.240x240.jpg"
											alt="Wilwood® - Street Performance Drilled and Slotted Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg" style="display:none;">
								</span><span class="slide pic_box bx-clone" pos="3"
									pic="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg.240x240.jpg"
											alt="Wilwood® - Street Performance Drilled and Slotted Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg" style="display:none;">
								</span><span class="slide pic_box bx-clone" pos="4"
									pic="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg.240x240.jpg"
											alt="Wilwood® - Street Performance Drilled and Slotted Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg" style="display:none;">
								</span></div>
						</div>
						<div class="bx-controls bx-has-pager bx-has-controls-direction">
							<div class="bx-pager bx-default-pager">
								<div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div>
								<div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div>
								<div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a></div>
								<div class="bx-pager-item"><a href="" data-slide-index="3" class="bx-pager-link">4</a></div>
								<div class="bx-pager-item"><a href="" data-slide-index="4" class="bx-pager-link">5</a></div>
							</div>
							<div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a>
							</div>
						</div>
					</div>
				</div>

				<div class="products_img">
					<div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
						<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 0px;">
							<ul
								style="width: 715%; position: relative; transition-duration: 0.5s; transform: translate3d(0px, 0px, 0px);">
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"
									class="bx-clone"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/d6a7ab210a.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"><img
										src="https://t260.web.ueeshop.com/u_file/2003/products/28/c11126f681.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"><img
										src="https://t260.web.ueeshop.com/u_file/1808/products/10/4bf4f7ac9b.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"><img
										src="https://t260.web.ueeshop.com/u_file/1808/products/10/fbdde06845.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"><img
										src="https://t260.web.ueeshop.com/u_file/1808/products/10/f041e77dc5.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"><img
										src="https://t260.web.ueeshop.com/u_file/1808/products/10/d6a7ab210a.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"
									class="bx-clone"><img src="https://t260.web.ueeshop.com/u_file/2003/products/28/c11126f681.jpg.500x500.jpg"></li>
							</ul>
						</div>
						<div class="bx-controls bx-has-controls-direction">
							<div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="info">
				<h1 class="name">Wilwood® - Street Performance Drilled and Slotted Brake Kit</h1>
				<div class="number"><span>Item No.:</span> 11224</div>
				<div class="desc">Street Performance Drilled and Slotted Brake Kit by Wilwood®. With this kit, you will
					significantly improve your braking performance. Suitable for all types of custom show and high performance
					street/strip vehicles this kit is a perfect compliment to whee</div>
			</div>
			<div class="clear"></div>
			<div class="description">
				<div class="title">
					<span>Description</span>
					<span>Warranty Info</span>
				</div>
				<div class="contents" style="display: block;">
					<div id="global_editor_contents"><span style="font-size:14px;">Street Performance Drilled and Slotted Brake
							Kit by Wilwood®. With this kit, you will significantly improve your braking performance. Suitable for all
							types of custom show and high performance street/strip vehicles this kit is a perfect compliment to wheel,
							tire, and suspension upgrades. Rotors feature cross drill and slot pattern to provide better outgassing
							and increased cooling capacity. Optional caliper finishes allow for personalizing your vehicle's
							style.</span><br>
						<br>
						<span style="font-size:22px;"><strong><span
									style="background-color:#D3D3D3;">Features:</span></strong></span><br>
						<br>
						<span style="font-size:14px;"><span style="line-height:200%;">Cross-Drill and face slot pattern<br>
								Corrosion resistance coating<br>
								Precision machined rotors to less than 0.001 tolerance for overall flatness<br>
								Ensures maximum braking efficiency<br>
								Smoother engagement feel at the pedal and consistent response from pads<br>
								Suitable for high performance street/track racing and everyday use<br>
								Drilled and slotted rotors provide increased cooling capacity and better outgassing<br>
								Rotors are cast from carbon iron<br>
								Rotors ensure thermal stability and resistance to distortion<br>
								Long wear rate for sustained high heat braking<br>
								Proudly manufactured in the United States</span></span><br>
						<br>
						<strong><span style="font-size:22px;"><span
									style="background-color:#D3D3D3;">Benefits:</span></span></strong><br>
						<br>
						<span style="font-size:14px;"><span style="line-height:200%;">Slots provide gas and water dissipation<br>
								Slots help to increase pad bite and improve air circulation<br>
								Drilled Holes and Slots create an escape route for debris, dust, gases, and water<br>
								Slots clean and de-glaze pad surface for optimum pad coefficient of friction<br>
								Drilled rotors improve the appearance of your wheels and provide reduced rotor weight<br>
								2-Piece rotors offer great weight savings and provide rapid heat dissipation compared to 1-piece
								rotors<br>
								Vented type of rotors offer much faster heat dissipation<br>
								Multi-piston calipers provide clamping force on both sides of the rotor at the same time and uniformly
								transfer braking force to the brake pads<br>
								Caliper pistons are hollow to save weight<br>
								Aluminum caliper body allows for exceptional light weight (up to 40% of weight savings) and ensures
								superior corrosion resistance<br>
								Caliper heat-resistant coating prevent cracking and fading</span><br>
							<br>
							Fixed calipers create friction from the brake pads on both sides of the rotor at time interval<br>
							This Street Performance Drilled and Slotted Brake Kit provides increased levels of strong braking. The
							complete package includes drilled and slotted rotors, premium brake pads and calipers representing the
							latest racing technology. The calipers are available in various finishes to reflect your individual style.
							Originally used for serious competitions because of their advanced cooling capacity, drilled and slotted
							rotors now became popular in street applications for their pure aesthetic value. Whether you have a daily
							driver or something ready for the show, this Street Performance Drilled and Slotted Brake Kit is what you
							need to get optimized braking performance.<br>
							<br>
							Fixed calipers by Wilwood offer unmatched stopping power. The pistons in fixed calipers are located on
							both sides of the disc, allowing for evenly distributed clamping force. They apply more squeezing power
							and apply it more evenly during braking as force is directly applied to both sides. Multi-piston calipers
							allow for more even braking and, as a result, less pad distortion. The more number of pistons a caliper
							has, the more clamping force it provides. Thanks to the evenly distributed pressure, these calipers ensure
							an even wear pattern along the entire length of the brake pad. Usually these calipers have smaller
							diameter pistons than single-piston calipers.<br>
							<br>
							The internal vane design of these vented rotors by Wilwood provides excellent heat dissipation during
							brake cycles. As the wheel spins, the vanes around the edge of the rotor draw air in and pull it through
							to help cool the rotor. With the extra heat dissipated there will be less brake fade. This rotor design by
							Wilwood combines the best features of a slotted rotor and cross-drilled rotor allowing your brakes to run
							cooler and sweep away water and dust. The cross-drilled and slotted rotors improve air circulation and
							increase brake pad bite, ensuring incredible stopping performance.</span></div>
				</div>
				<div class="contents">
					<div id="global_editor_contents"><span style="font-size:18px;"><strong>Do not drive on untested brakes. Brakes
								must be tested after installation or maintenance.</strong></span><br>
						<br>
						<span style="font-size:14px;">Make sure pedal is firm: Hold firm pressure on pedal for several minutes, it
							should remain in position without sinking. If pedal sinks toward floor, check system for fluid leaks. DO
							NOT drive vehicle if pedal does not stay firm or can be pushed to the floor with normal pressure.<br>
							At very low speed (2-5 mph) apply brakes hard several times while turning steering from full left to full
							right, repeat several times. Remove the wheels and check that components are not touching, rubbing, or
							leaking.<br>
							Carefully examine all brake components, brake lines, and fittings for leaks and interference.<br>
							Make sure there is no interference with wheels or suspension components.<br>
							Drive vehicle at low speed (15-20 mph) making moderate and hard stops. Brakes should feel normal and
							positive. Again check for leaks and interference.<br>
							Always test vehicle in a safe place where there is no danger to (or from) other people or vehicles.<br>
							Always wear seat belts and make use of all safety equipment.</span></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<script>
			$(document).ready(function () {
				$('.ueeshop_responsive_products_detail .description .contents:first').show();
				$('.bx-viewport img').click(function() {
					$('.zoom_out img').attr('src', $(this).attr('src').replace('240x240', '500x500'))
				})
			});
		</script>
	</div>
	<% include common/footer.html %>
</body>

</html>