<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>产品详情</title>
</head>

<body class="index other_header">
	<% include common/header.html %>
	<div class="wrap">
		<div class="ueeshop_responsive_products_detail ">
			<div class="gallery">
				<div class="bigimg">
					<div class="zoom_out">
						<a href="https://t260.web.ueeshop.com/u_file/2003/products/28/02c037df34.jpg" class="MagicZoom" id="zoom"
							rel="zoom-position:custom; zoom-width:350px; zoom-height:350px;" title=""
							style="position: relative; display: block; text-decoration: none; outline: 0px; width: 500px;"><img
								src="https://t260.web.ueeshop.com/u_file/2003/products/28/02c037df34.jpg.500x500.jpg" id="bigimg_src"
								alt="Braum® - Elite-X Sport Seats" style="visibility: visible; zoom: 1; opacity: 1;">
						</a>
					</div>
				</div>
				<div id="zoom-big">
					<div class="MagicZoomBigImageCont"
						style="overflow: hidden; z-index: 100; top: -10000px; position: absolute; width: 350px; height: 350px; visibility: visible; zoom: 1; opacity: 1;">
						<div class="MagicZoomHeader"
							style="position: relative; z-index: 10; left: 0px; top: 0px; padding: 3px; display: none; visibility: hidden;">
						</div>
						<div style="overflow: hidden;"><img
								src="https://t260.web.ueeshop.comhttps://t260.web.ueeshop.com/u_file/2003/products/28/02c037df34.jpg"
								style="position: relative; border-width: 0px; padding: 0px; left: -136.2px; top: -150px;"></div>
						<div
							style="color: rgb(204, 204, 204); font-size: 10px; font-weight: normal; font-family: Tahoma; position: absolute; width: 99%; text-align: right; left: 0px; top: 330px;">
						</div>
					</div>
				</div>
				<div class="left_small_img">
					<div class="left_small_img_inner">
						<span class="slide pic_box on" pos="1" pic="https://t260.web.ueeshop.com/u_file/2003/products/28/02c037df34.jpg.500x500.jpg"
							big="https://t260.web.ueeshop.com/u_file/2003/products/28/02c037df34.jpg">
							<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/2003/products/28/02c037df34.jpg.240x240.jpg"
									alt="Braum® - Elite-X Sport Seats"><em></em></a>
							<img src="https://t260.web.ueeshop.com/u_file/2003/products/28/02c037df34.jpg.500x500.jpg" style="display:none;">
							<img src="https://t260.web.ueeshop.com/u_file/2003/products/28/02c037df34.jpg" style="display:none;">
						</span>
						<span class="slide pic_box" pos="2" pic="https://t260.web.ueeshop.com/u_file/2003/products/28/43c5cb1b4b.jpg.500x500.jpg"
							big="https://t260.web.ueeshop.com/u_file/2003/products/28/43c5cb1b4b.jpg">
							<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/2003/products/28/43c5cb1b4b.jpg.240x240.jpg"
									alt="Braum® - Elite-X Sport Seats"><em></em></a>
							<img src="https://t260.web.ueeshop.com/u_file/2003/products/28/43c5cb1b4b.jpg.500x500.jpg" style="display:none;">
							<img src="https://t260.web.ueeshop.com/u_file/2003/products/28/43c5cb1b4b.jpg" style="display:none;">
						</span>
						<span class="slide pic_box" pos="3" pic="https://t260.web.ueeshop.com/u_file/2003/products/28/9969bfbb47.jpg.500x500.jpg"
							big="https://t260.web.ueeshop.com/u_file/2003/products/28/9969bfbb47.jpg">
							<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/2003/products/28/9969bfbb47.jpg.240x240.jpg"
									alt="Braum® - Elite-X Sport Seats"><em></em></a>
							<img src="https://t260.web.ueeshop.com/u_file/2003/products/28/9969bfbb47.jpg.500x500.jpg" style="display:none;">
							<img src="https://t260.web.ueeshop.com/u_file/2003/products/28/9969bfbb47.jpg" style="display:none;">
						</span>
					</div>
				</div>

				<div class="products_img">
					<div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
						<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 0px;">
							<ul
								style="width: 515%; position: relative; transition-duration: 0.5s; transform: translate3d(0px, 0px, 0px);">
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"
									class="bx-clone"><img src="https://t260.web.ueeshop.com/u_file/2003/products/28/9969bfbb47.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"><img
										src="https://t260.web.ueeshop.com/u_file/2003/products/28/02c037df34.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"><img
										src="https://t260.web.ueeshop.com/u_file/2003/products/28/43c5cb1b4b.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"><img
										src="https://t260.web.ueeshop.com/u_file/2003/products/28/9969bfbb47.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"
									class="bx-clone"><img src="https://t260.web.ueeshop.com/u_file/2003/products/28/02c037df34.jpg.500x500.jpg"></li>
							</ul>
						</div>
						<div class="bx-controls bx-has-controls-direction">
							<div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="info">
				<h1 class="name">Braum® - Elite-X Sport Seats</h1>
				<div class="desc">Elite-X Sport Seats by Braum®. Pair. Include: Two racing seats &amp; dual lock sliders. BRAND
					NEW ELITE-X Series seats are wrapped in luxurious leatherette in a sleek, aggressive, race-inspired shape. The
					result is an understated yet unmistakable silhouette t</div>
			</div>
			<div class="clear"></div>
			<div class="description">
				<div class="title">
					<span>Description</span>
				</div>
				<div class="contents" style="display: block;">
					<div id="global_editor_contents"><span style="font-size:15px;">Elite-X Sport Seats by Braum®. Pair. Include:
							Two racing seats &amp; dual lock sliders. BRAND NEW ELITE-X Series seats are wrapped in luxurious
							leatherette in a sleek, aggressive, race-inspired shape. The result is an understated yet unmistakable
							silhouette that is both refined and well-proportioned. ELITE-X Seats are a new design by BRAUM Racing,
							featuring the classic shape of the ELITE series mixed with the sleek lines of the VENOM series. You and
							your passengers will be pleased to find a handle-type reclining mechanism for quick and easy, factory-like
							seat adjustments.</span><br>
						<br>
						<strong><span style="font-size:22px;"><span
									style="background-color:#D3D3D3;">Features:</span></span></strong><br>
						<br>
						<span style="font-size:15px;"><span style="line-height:200%;">Strong, lightweight steel tubular frame<br>
								Injection molded foam<br>
								Handle-type reclining mechanism<br>
								Faux carbon fiber fabric backing<br>
								Bottom mount style (will need vehicle-specific seat brackets)<br>
								Comes with two seats and dual lock sliders for front-back adjustment<br>
								25 lbs. (without bracket or sliders)<br>
								Fits up to 38” waist</span><br>
							<br>
							These seats are perfect for those who want to improve the looks, comfort and stability of their seats
							without sacrificing practicality. They feature a strong, lightweight tubular frame and injection molded
							foam for the ultimate combination of comfort, performance, and durability. The bolsters are pronounced and
							strategically shaped without being intrusive, so you can stay locked in and enjoy your drive without
							dreading the discomfort of ingress and egress that a fixed bucket seat would impose. The firm, high
							density foam provides excellent support while its heat and pressure sensitivity allows the cushion to
							soften and comply with your body’s shape for a more customized fit.<br>
							<br>
							Taking lead in the motorsports industry Braum® offers a comprehensive array of superior racing seats, seat
							brackets, harnesses, harness bars, and accessories. Following its passion for racing, the company makes
							its best to provide only high-quality, reliable, and functional racing products. Braum products are made
							from first-rate materials in ISO certified factories. They are inspected and assembled in the Untied
							States to guarantee they meet the highest expectations of automotive enthusiasts.</span></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<script>
			$(document).ready(function () {
				$('.ueeshop_responsive_products_detail .description .contents:first').show();
				$('.left_small_img_inner img').click(function() {
					$('.zoom_out img').attr('src', $(this).attr('src').replace('240x240', '500x500'))
				})
			});
		</script>
	</div>
	<% include common/footer.html %>
</body>

</html>