<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>产品详情</title>
</head>

<body class="index other_header">
	<% include common/header.html %>
	<div class="wrap">
		<div class="ueeshop_responsive_products_detail ">
			<div class="gallery">
				<div class="bigimg">
					<div class="zoom_out">
						<a href="https://t260.web.ueeshop.com/u_file/1808/products/10/1b0659f0b5.jpg" class="MagicZoom" id="zoom"
							rel="zoom-position:custom; zoom-width:350px; zoom-height:350px;" title=""
							style="position: relative; display: block; text-decoration: none; outline: 0px; width: 500px;"><img
								src="https://t260.web.ueeshop.com/u_file/1808/products/10/1b0659f0b5.jpg.500x500.jpg" id="bigimg_src"
						</a>
					</div>
				</div>
				<div id="zoom-big">
					<div class="MagicZoomBigImageCont"
						style="overflow: hidden; z-index: 100; top: 0px; position: absolute; width: 350px; height: 350px; visibility: visible; zoom: 1; opacity: 1;">
						<div class="MagicZoomHeader"
							style="position: relative; z-index: 10; left: 0px; top: 0px; padding: 3px; display: none; visibility: hidden;">
						</div>
						<div style="overflow: hidden;"><img
								src="https://t260.web.ueeshop.comhttps://t260.web.ueeshop.com/u_file/1808/products/10/1b0659f0b5.jpg"
								style="position: relative; border-width: 0px; padding: 0px; left: 0px; top: -150px;"></div>
						<div
							style="color: rgb(204, 204, 204); font-size: 10px; font-weight: normal; font-family: Tahoma; position: absolute; width: 99%; text-align: right; left: 0px; top: 330px;">
						</div>
					</div>
				</div>
				<div class="left_small_img">
					<div class="bx-wrapper" style="max-width: 95px;">
						<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 410px;">
							<div class="left_small_img_inner"
								style="width: auto; position: relative; transition-duration: 0s; transform: translate3d(0px, -420px, 0px);">
								<span class="slide pic_box bx-clone" pos="2" pic="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg.240x240.jpg"
											alt="KSport® - SuperComp Cross Drilled Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg" style="display:none;">
								</span><span class="slide pic_box bx-clone" pos="3"
									pic="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg.240x240.jpg"
											alt="KSport® - SuperComp Cross Drilled Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg" style="display:none;">
								</span><span class="slide pic_box bx-clone" pos="4"
									pic="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg.240x240.jpg"
											alt="KSport® - SuperComp Cross Drilled Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg" style="display:none;">
								</span><span class="slide pic_box bx-clone" pos="5"
									pic="https://t260.web.ueeshop.com/u_file/1808/products/10/bc4c35540b.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/bc4c35540b.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/bc4c35540b.jpg.240x240.jpg"
											alt="KSport® - SuperComp Cross Drilled Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/bc4c35540b.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/bc4c35540b.jpg" style="display:none;">
								</span>
								<span class="slide pic_box on" pos="1" pic="https://t260.web.ueeshop.com/u_file/1808/products/10/1b0659f0b5.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/1b0659f0b5.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/1b0659f0b5.jpg.240x240.jpg"
											alt="KSport® - SuperComp Cross Drilled Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/1b0659f0b5.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/1b0659f0b5.jpg" style="display:none;">
								</span>
								<span class="slide pic_box" pos="2" pic="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg.240x240.jpg"
											alt="KSport® - SuperComp Cross Drilled Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg" style="display:none;">
								</span>
								<span class="slide pic_box" pos="3" pic="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg.240x240.jpg"
											alt="KSport® - SuperComp Cross Drilled Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg" style="display:none;">
								</span>
								<span class="slide pic_box" pos="4" pic="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg.240x240.jpg"
											alt="KSport® - SuperComp Cross Drilled Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg" style="display:none;">
								</span>
								<span class="slide pic_box" pos="5" pic="https://t260.web.ueeshop.com/u_file/1808/products/10/bc4c35540b.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/bc4c35540b.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/bc4c35540b.jpg.240x240.jpg"
											alt="KSport® - SuperComp Cross Drilled Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/bc4c35540b.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/bc4c35540b.jpg" style="display:none;">
								</span>
								<span class="slide pic_box on bx-clone" pos="1"
									pic="https://t260.web.ueeshop.com/u_file/1808/products/10/1b0659f0b5.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/1b0659f0b5.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/1b0659f0b5.jpg.240x240.jpg"
											alt="KSport® - SuperComp Cross Drilled Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/1b0659f0b5.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/1b0659f0b5.jpg" style="display:none;">
								</span><span class="slide pic_box bx-clone" pos="2"
									pic="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg.240x240.jpg"
											alt="KSport® - SuperComp Cross Drilled Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg" style="display:none;">
								</span><span class="slide pic_box bx-clone" pos="3"
									pic="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg.240x240.jpg"
											alt="KSport® - SuperComp Cross Drilled Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg" style="display:none;">
								</span><span class="slide pic_box bx-clone" pos="4"
									pic="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg.500x500.jpg"
									big="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg"
									style="float: none; list-style: none; position: relative; width: 95px; margin-bottom: 10px;">
									<a href="javascript:;"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg.240x240.jpg"
											alt="KSport® - SuperComp Cross Drilled Brake Kit"><em></em></a>
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg.500x500.jpg" style="display:none;">
									<img src="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg" style="display:none;">
								</span></div>
						</div>
						<div class="bx-controls bx-has-pager bx-has-controls-direction">
							<div class="bx-pager bx-default-pager">
								<div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div>
								<div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div>
								<div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a></div>
								<div class="bx-pager-item"><a href="" data-slide-index="3" class="bx-pager-link">4</a></div>
								<div class="bx-pager-item"><a href="" data-slide-index="4" class="bx-pager-link">5</a></div>
							</div>
							<div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a>
							</div>
						</div>
					</div>
				</div>

				<div class="products_img">
					<div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
						<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 0px;">
							<ul
								style="width: 715%; position: relative; transition-duration: 0.5s; transform: translate3d(0px, 0px, 0px);">
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"
									class="bx-clone"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/bc4c35540b.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"><img
										src="https://t260.web.ueeshop.com/u_file/1808/products/10/1b0659f0b5.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"><img
										src="https://t260.web.ueeshop.com/u_file/1808/products/10/312a60585e.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"><img
										src="https://t260.web.ueeshop.com/u_file/1808/products/10/15e63bac46.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"><img
										src="https://t260.web.ueeshop.com/u_file/1808/products/10/e521067b02.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"><img
										src="https://t260.web.ueeshop.com/u_file/1808/products/10/bc4c35540b.jpg.500x500.jpg"></li>
								<li style="float: left; list-style: none; position: relative; width: 100px; margin-right: 10px;"
									class="bx-clone"><img src="https://t260.web.ueeshop.com/u_file/1808/products/10/1b0659f0b5.jpg.500x500.jpg"></li>
							</ul>
						</div>
						<div class="bx-controls bx-has-controls-direction">
							<div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="info">
				<h1 class="name">KSport® - SuperComp Cross Drilled Brake Kit</h1>
				<div class="number"><span>Item No.:</span> 11225</div>
				<div class="desc">SuperComp Cross Drilled Brake Kit by KSport®. This is K-Sport's most extreme brake upgrade kit
					designed to provide the highest level of stopping power with larger-diameter disc rotors. All calipers feature
					1-piece construction from a solid billet of aircr</div>
			</div>
			<div class="clear"></div>
			<div class="description">
				<div class="title">
					<span>Description</span>
					<span>Warranty Info</span>
				</div>
				<div class="contents" style="display: block;">
					<div id="global_editor_contents"><span style="font-size:14px;">SuperComp Cross Drilled Brake Kit by KSport®.
							This is K-Sport's most extreme brake upgrade kit designed to provide the highest level of stopping power
							with larger-diameter disc rotors. All calipers feature 1-piece construction from a solid billet of
							aircraft grade aluminum for light weight, unparalleled strength and freedom from corrosion along with
							aluminum pistons that provide better heat resistance and smoother operation.</span><br>
						<br>
						<strong><span style="font-size:22px;"><span
									style="background-color:#D3D3D3;">Features:</span></span></strong><br>
						<br>
						<span style="font-size:14px;">KSport's higher level brake upgrade kit that includes replacement calipers,
							rotors, pads, brake lines, and related hardware<br>
							SuperComp rotors add standard full-floating design for better self-centering in the caliper which lowers
							brake drag and boosts performance<br>
							All components are designed for bolt-on replacement without modifications<br>
							See Product Options for larger rotor sizes and designs, brake pad choices, caliper choices, and color
							options<br>
							All calipers feature 1-piece construction from a solid billet of aluminum for light weight and
							unparalleled strength<br>
							Opposed-piston caliper design greatly improves pad grip and reduces uneven wear<br>
							Aluminum caliper pistons provide freedom from corrosion, better heat resistance, and lighter weight<br>
							Reinforced carbon steel caliper brackets allow these larger-than-OEM size calipers to bolt directly on to
							existing mounting points<br>
							All rotors feature 2-piece design with an aluminum center for lower rotational mass, quicker braking
							response, and shorter stopping distances<br>
							2-piece design greatly reduces chance of rotor warpage through less restricted expansion/contraction of
							outer iron section<br>
							All caliper seals are heavy duty for sustained high-temperature racetrack use<br>
							Outer rotor sections are crafted from iron with high carbon content which achieves low levels of noise,
							vibration, and harshness<br>
							Stainless steel brake lines prevent expansion under high temperatures and pressures for faster pedal
							response<br>
							Drilled rotors are recommended for daily street use and feature holes in rotor surface to wipe away heat,
							dust, and gases<br>
							1-year manufacturer warranty</span><br>
						<br>
						<strong><span style="font-size:22px;"><span
									style="background-color:#D3D3D3;">Benefits:</span></span></strong><br>
						<br>
						<span style="font-size:14px;"><span style="line-height:200%;">Drilled rotors improve the appearance of your
								wheels and provide reduced rotor weight<br>
								2-Piece rotors offer great weight savings and provide rapid heat dissipation compared to 1-piece
								rotors<br>
								Floating rotor design provides better contact of rotor blade and pad<br>
								Vented type of rotors offer much faster heat dissipation<br>
								Multi-piston calipers provide clamping force on both sides of the rotor at the same time and uniformly
								transfer braking force to the brake pads<br>
								Caliper pistons are hollow to save weight<br>
								Aluminum caliper body allows for exceptional light weight (up to 40% of weight savings) and ensures
								superior corrosion resistance<br>
								Caliper heat-resistant coating prevent cracking and fading</span><br>
							<br>
							KSport offers their highest and most powerful level of stopping power with SuperComp brake upgrade
							packages that require no vehicle modifications to install. They offer all benefits of KSport's ProComp
							kit, but with bigger calipers, bigger rotors, more pistons, and increased stopping power through larger
							pads (front SuperComp calipers are even equipped with a double set of brake pads). No matter which kit you
							select, you'll get the benefits of decades of racetrack experience and engineering from KSport. All brake
							calipers are cut from one block of aluminum rather than being cast or welded together. This provides
							perfectly even thicknesses and strength over every part of the caliper block to eliminate weak spots which
							lead to fracturing, warpage, and failure over time. To build on the weight-reducing characteristics of the
							calipers, caliper pistons are also made from aluminum and protected with heavy-duty seals designed to
							handle racetrack temperatures. Better heat transferrance ensures pistons slide smoothly and evenly without
							drag, and the aluminum ensures caliper operation remains uncompromised by corrosion over time.
							Additionally, an opposed-piston design ensures brake pad grip and wear remain consistent on both sides of
							the rotor.<br>
							<br>
							All rotors are a 2-piece design to provide light weight, fade-free performance on the racetrack, effective
							grip during street racing and drifting, and comfortable, easy-to-use operation under normal driving
							conditions. Lightweight center sections crafted from 6061-T6 aircraft-grade aluminum give you the benefit
							of lower rotational mass – making wheels easier to stop, and giving you the instant snap of brake response
							that's proper for high performance driving. Because the outer section of the 2-piece rotor can expand and
							contract independently from the center section, chances of the entire rotor warping due to heat buildup
							are greatly reduced. And since aluminum is a better conductor of heat, the center sections serve as
							effective heat sinks by passing heat off faster to the air and to the hub assembly. Combined, these two
							factors give them a much longer service life than traditional 1-piece rotors. For the serious racetrack
							driver that's mindful of avoiding temperature buildup which causes brake fluid boiling and pedal fade, all
							SuperComp rotors are built with a "full floating" design. Such a layout features an outer section designed
							to shift slightly as needed. Better self-centering in the caliper lowers brake drag and boosts performance
							through more even application.</span><br>
						<br>
						<span style="font-size:14px;">SuperComp rotors are also available in "Street" applications with
							cross-drilled holes in the outer section to provide effective management of heat, dust, and gasses that
							build up during aggressive driving. Drilled rotors are best matched to low-dust, long-life "Street"
							ceramic pads that function most effectively in the 194 – 1,022 degree Fahrenheit range typically reached
							on the street. For heavier-duty track use, KSport recommends rotors in slotted form for more solidity
							along with "Race" pads that function most effectively in the 482 – 1,472 degree Fahrenheit range reached
							during racing.<br>
							<br>
							Founded in 2003 in Arizona,</span><span style="font-size:16px;"> <strong>KSport USA®</strong></span><span
							style="font-size:14px;"> Suspension Company has risen to prominence by producing high-performance
							suspension and brake system upgrades that provide winning results without breaking apart or breaking your
							wallet. The consistent high level of sophistication and quality KSport bakes into every product has earned
							them respect among all classes of racetrack drivers across the globe. As a premiere worldwide producer
							respected throughout the industry today, KSport has been recognized with TUV/ISO 9001:2008 certification
							for best business practices. Our website is proud to offer the best values you'll find on a full range of
							KSport coilovers, lowering springs, air suspension kits, control arms, brake upgrade packages, and much
							more designed to enhance performance and handling on the track and on the street.&nbsp;</span></div>
				</div>
				<div class="contents">
					<div id="global_editor_contents"><span style="font-size:14px;">All products sold are subject to the following
							warranty:<br>
							<br>
							KSport warrants that its brake products will be free from defects in material and workmanship for 1 year
							from the date of purchase by the Original Purchaser. This warranty does not apply to any brake products
							that have been subjected to misuse, mishandling, misapplication, neglect (including but not limited to
							improper maintenance), improper installation, or alterations.<br>
							<br>
							Autoline Industries warrants the shock and steering stabilizers to the original retail consumer against
							defects and workmanship when used on light truck and car applications under normal operating conditions.
							This warranty does not apply to shocks and steering stabilizers that have been improperly installed.<br>
							<br>
							KSport warranty does not cover shock that are to be used in racing applications. Exterior finish on all
							K-Sport products is not considered a valid warrantee; consumers are responsible for the maintenance of
							paint and or chrome or plated finish.<br>
							<br>
							Shock Boots are also excluded from any type of warrantee. ALL SHOCK BOOTS should be removed prior to
							returning to the Distributor from which the product was originally purchased. Rusted shafts will also be
							denied as a warrantee claim; consumers are responsible for the upkeep and maintenance of the chrome
							rods.<br>
							<br>
							This warranty does not apply to any K-Sport product which has been modified, customized, painted, dented,
							rusted or improperly installed.</span></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<script>
			$(document).ready(function () {
				$('.ueeshop_responsive_products_detail .description .contents:first').show();
				$('.bx-viewport img').click(function() {
					$('.zoom_out img').attr('src', $(this).attr('src').replace('240x240', '500x500'))
				})
			});
		</script>
	</div>
	<% include common/footer.html %>
</body>

</html>