<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
</head>
<body style="display: none;" class="index with-vip">
<% include common/header.html %>
<div class="banner_pic_01">
	<div class="comWidth">
		<div class="text-main">
			<p class="line1">小程序不是APP胜似APP</p>
			<p class="line2">专业微信小程序开发团队</p>
			<p class="line3">为您提供小程序定制开发服务</p>
			<a href="./login.html" class="see-more">了解更多</a>
		</div>
	</div>
</div>
<div class="down-main" id="Featured">
	<div class="comWidth">
		<div class="mx-title">创新与设计与开发</div>
		<div class="sm-title">我们将为您提供贴心的服务，从前期需求分析到正式部署上线。</div>
		<div class="down-list">
			<div class="item">
				<div class="item-pic-1 item-pic"></div>
				<div class="line1">策略研究</div>
				<div class="line2">
					我们洞察市场需求及用户痛点，为企业建立切实可行的互联网产品策略。
				</div>
			</div>
			<div class="item">
				<div class="item-pic-2 item-pic"></div>
				<div class="line1">交互视觉设计</div>
				<div class="line2">
					基于用户研究分析，建立符合用户使用场景和用户真正需求的交互模型。
				</div>
			</div>
			<div class="item">
				<div class="item-pic-3 item-pic"></div>
				<div class="line1">产品研发</div>
				<div class="line2">
					根据您的风格，打造高品质专属于本企业的产品视觉设计，让用户第一眼就爱上。
				</div>
			</div>
			<div class="item">
				<div class="item-pic-4 item-pic"></div>
				<div class="line1">部署发布</div>
				<div class="line2">
					产品验收后，我们的专业化运维团队将全程为您部署上线，并提供相关运营支持。
				</div>
			</div>
		</div>
	</div>
</div>
<div class="banner_pic_02">
	<div class="comWidth">
		<div class="text-main">
			<p class="line1">专业的服务流程</p>
			<p class="line2">四大步骤，清晰透明，专业可靠。</p>
			<div class="progress-list">
				<div class="item">
					<div class="number">1</div>
					<div class="title">提交定制需求，评估报价</div>
					<div class="txt">
						提交您的需求后，我们的团队将与您沟通具体的细节、商业目标。
					</div>
				</div>
				<div class="item">
					<div class="number">2</div>
					<div class="title">签订合同，项目启动</div>
					<div class="txt">
						我们将为你提供一份完整的设计方案、功能点、项目周期清单。确认后签署合同，正式启动。
					</div>
				</div>
				<div class="item">
					<div class="number">3</div>
					<div class="title">开发完成，测试上线</div>
					<div class="txt">
						设计、开发、测试完毕后，我们将为您进行服务器端部署。
					</div>
				</div>
				<div class="item">
					<div class="number">4</div>
					<div class="title">项目完结</div>
					<div class="txt">
						在上线运营正常后，您才需要支付最后的尾款，至此项目顺利完成。
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="common-problem">
	<div class="comWidth">
		<h3>常见问题</h3>
		<div class="problem-list">
			<div class="one">
				<div class="title">我需要提供什么素材/资料？</div>
				<p>我需要提供什么素材/资料？填写完我们的需求表单并通过我们的评估之后，我们会联系您，提供具体的需求清单、品牌相关的资料等，很简单！</p>
			</div>
			<div class="one">
				<div class="title">定制化风格是什么样的？</div>
				<p>风格可以很多变，具体当然由您来决定！填写我们的需求表单告诉我们你偏好的风格，让我们来满足您的需求！</p>
			</div>
			<div class="one">
				<div class="title">“定制化服务”的流程是什么？</div>
				<p>同样的，填写完我们的需求表单并通过我们的评估之后，等待我们联系您！我们想为用户带来省心、可靠的服务体验！</p>
			</div>
			<div class="one">
				<div class="title">“定制化服务”的收费标准是怎么样的？</div>
				<p>我们的收费非常合理！根据您需求的大小、时间安排将有所不同。定制服务的具体价格我们在评估完您的需求之后告知。</p>
			</div>
		</div>
	</div>
</div>

<div class="design-now">
	<div class="comWidth">
		<h3 class="mx-title">太棒了！我已经有想法了</h3>
		<p class="sm-title">现在就开始提交我的定制服务需求！</p>
		<a href="./login.html" class="do-it">立即定制</a>
	</div>
</div>


<% include common/footer.html %>
</body>
</html>
