@charset "utf-8";

@import './common/reset.scss';
@import './_tool/_variable.scss';
@import './_tool/_other.scss';
@import './common/swiper.css';
@import './common/common.scss';

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

.home {

  .section {
    .more {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 40px;
      font-size: 18px;
      color: #fff;
      background: rgba($color: #bd1c3d, $alpha: 1);
      transform: translateY(50%);
      border-radius: 8px;
      cursor: pointer;
      border-style: solid;
      border-width: 1px;
      border-color: transparent;
      transition: .3s all;

      &:hover {
        color: #333333;
        border-color: #bd1c3d;
        background: transparent;
      }
    }
  }

  .download-pcbtn-box {
    position: absolute;
    right: 0;
    top: 50%;
    width: 100px;
    opacity: 0.4;
    border: 1px solid #ddd;
    transform: translateY(-50%) translateX(120%);
    transition: 1s all;
    box-shadow: 1px 1px 2px rgba($color: #ddd, $alpha: 0.5);
    z-index: 99;

    .down-pcbtn {
      position: relative;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      font-size: 14px;
      color: #333;
      cursor: pointer;
      transition: all 0.3s;
      z-index: 5;

      &:nth-child(2n) {
        &::before {
          background: rgba($color: #ddd, $alpha: 1);
        }
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #fff, $alpha: 1);
        transition: all 0.3s;
        z-index: -1;
      }

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 40px;
        height: 1px;
        background: rgba($color: #fff, $alpha: 0.4);
        ;
        transform: translateX(-50%);
        z-index: 9;
      }

      &:hover,
      &.active {
        color: #fff;

        &::before {
          background: rgba($color: #13487c, $alpha: 1);
          transform: scaleX(1.15);
        }
      }
    }
  }

  .enter {
    .download-pcbtn-box {
      opacity: 1;
      transform: translateY(-50%) translateX(-40px);
    }
  }

  .section-1 {
    position: relative;
    background: url('../images/session_imgs/home-pc.png');
    background-size: cover;
    overflow: hidden;

    .logo {
      width: 160px;
      height: 160px;
      background: url('../images/session_imgs/logo.png') no-repeat;
      background-size: contain;
      margin: auto;
      opacity: 0.4;
      transform: translateY(-100px);
      transition: 1s all;
    }

    .company-name {
      font-size: 36px;
      text-align: center;
      font-weight: bold;
      margin: 50px auto;
      text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
      opacity: 0.4;
      transform: translateY(100px);
      transition: 1s all;
    }

    .slide-more {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      font-size: 20px;

      &-arrow {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%) rotateZ(90deg);
      }
    }

    &.enter {

      .logo,
      .company-name {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .section-2 {
    overflow: hidden;

    .text-1 {
      width: 100%;
      font-size: 20px;
      text-align: center;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #E74C5B;
      margin: 20px auto;
      opacity: 0;
      transform: translateY(100px);
      transition: 1s all;
    }

    .text-2 {
      width: 100%;
      font-size: 48px;
      text-align: center;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #333333;
      line-height: 48px;
      margin-top: 20px;
      margin: 20px auto;
      opacity: 0.4;
      transform: translateY(100px);
      transition: 1s all;

      .text-wrap {
        position: relative;
      }

      .more {
        position: absolute;
        left: 102%;
        bottom: 50%;
        width: 40px;
        height: 20px;
        font-size: 12px;
        border-radius: 4px;
      }
    }

    .text-3 {
      width: 100%;
      font-size: 16px;
      text-align: center;
      max-width: 800px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #333333;
      line-height: 22px;
      margin: 20px auto 0;
      opacity: 0.4;
      transform: translateY(100px);
      transition: 1s all;
    }

    .device {
      position: relative;
      width: 800px;
      height: 500px;
      margin: 20px auto;
      padding: 30px 60px;
      border-radius: 20px;
      background: rgba($color: #000000, $alpha: 0.9);
      border: 3px solid white;

      .arrow-left {
        background: url(../images/session_imgs/arrows.png) no-repeat left top;
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -15px;
        width: 17px;
        height: 30px;
      }
      .arrow-right {
        background: url(../images/session_imgs/arrows.png) no-repeat left bottom;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -15px;
        width: 17px;
        height: 30px;
      }

      .content-slide {
        padding: 20px;
        color: #fff;
      }

      .title {
        font-size: 25px;
        margin-bottom: 10px;
      }

      .pagination {
        position: absolute;
        left: 0;
        text-align: center;
        bottom:5px;
        width: 100%;
      }

      .swiper-pagination-switch {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background: #999;
        box-shadow: 0px 1px 2px #555 inset;
        margin: 0 3px;
        cursor: pointer;
      }
      
      .swiper-active-switch {
        background: #fff;
      }

    }

    .video-wrap {
      width: 800px;
      height: 500px;

      .dplayer {
        height: 450px;
      }

      .dplayer-title {
        text-align: center;
        font-size: 20px;
        padding: 10px;
        color: 
        #fff;
      }
    }

    &.enter {

      .text-1,
      .text-2,
      .text-3 {
        opacity: 1;
        transform: translateY(0);
      }

      .img-1 {
        opacity: 1;
        transform: translateX(0) translateY(120px);
      }

      .img-2 {
        opacity: 1;
        transform: translateX(0) translateY(60px);
      }
    }
  }

  .section-3 {
    overflow: hidden;

    .left {
      position: relative;
      margin-left: 150px;
      z-index: 9;

      .text-1 {
        margin-left: 20px;
        font-size: 28px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #E74C5B;
        line-height: 28px;
        opacity: 0.4;
        transform: translateX(-50px);
        transition: 1s all;
      }

      .text-2 {
        font-size: 48px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #333333;
        line-height: 48px;
        margin: 20px 0;
        opacity: 0.4;
        transform: translateX(-50px);
        transition: 1s all;
      }

      .text-3 {
        display: inline-block;
        padding: 20px;
        font-size: 16px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #fff;
        line-height: 30px;
        text-align: left;
        max-width: 600px;
        opacity: 0.4;
        transform: translateX(-50px);
        transition: 1s all;
        background: rgba($color: #000000, $alpha: 0.5);

        p {
          text-indent: 30px;
        }
      }

      .more {
        opacity: 0.4;
        transform: translateX(-50px);
        transition: 1s all;
      }
    }

    .img {
      position: absolute;
      right: 100px;
      bottom: 0;
      width: 976px;
      height: 798px;
      background: url('../images/session_imgs/zongyi_live.jpeg') no-repeat center;
      background-size: contain;
      opacity: 0.4;
      transform: translateX(150px);
      transition: 1s all;
    }

    &.enter {

      .text-1,
      .text-2,
      .text-3,
      .more {
        opacity: 1;
        transform: translateX(0);
      }

      .img {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .section-4 {
    position: relative;
    overflow: hidden;

    .img {
      position: absolute;
      width: 778px;
      left: 10%;
      top: 10%;

      .oneTitle {
        height: 158px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background: #eee;
        }
      }
  
      .oneTitle .leftImg {
        width: 280px;
        height: 158px;
        margin-right: 20px;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
      }
  
      .oneTitle .rightContent {
        width: 515px;
        margin-right: 25px;
      }
  
      .oneTitle .rightContent .title {
        width: 100%;
        height: 60px;
        margin-top: 10px;
        font-size: 22px;
        font-weight: 700;
        color: #333;
        line-height: 32px;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
  
      .oneTitle .rightContent p:nth-child(2) {
        width: 100%;
        height: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 400;
        color: #999;
        line-height: 22px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .right {
      margin-right: 200px;
      text-align: left;
      max-width: 300px;
      margin-left: auto;

      .text-1 {
        font-size: 28px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #E74C5B;
        line-height: 28px;
        opacity: 0.4;
        transform: translateX(50px);
        transition: 1s all;
      }

      .text-2 {
        font-size: 48px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #333333;
        line-height: 48px;
        margin: 20px 0;
        opacity: 0.4;
        transform: translateX(50px);
        transition: 1s all;
      }

      .text-3 {
        font-size: 18px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #333333;
        line-height: 28px;
        text-align: left;
        opacity: 0.4;
        transform: translateX(50px);
        transition: 1s all;
      }

      .more {
        opacity: 0.4;
        transform: translateX(50px);
        transition: 1s all;
      }
    }

    &.enter {

      .text-1,
      .text-2,
      .text-3,
      .more {
        opacity: 1;
        transform: translateX(0);
      }

      .img {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .section-5 {
    overflow: hidden;

    .left {
      position: relative;
      width: 400px;
      margin-left: auto;
      margin-right: 200px;
      padding: 20px;
      background: rgba($color: #fff, $alpha: .6);
      z-index: 5;

      .text-1 {
        font-size: 28px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #E74C5B;
        line-height: 28px;
        opacity: 0.4;
        transform: translateX(-50px);
        transition: 1s all;
      }

      .text-2 {
        font-size: 48px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #333333;
        line-height: 48px;
        margin: 20px 0;
        opacity: 0.4;
        transform: translateX(-50px);
        transition: 1s all;
      }

      .text-3 {
        font-size: 18px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #333333;
        line-height: 28px;
        text-align: left;
        opacity: 0.4;
        transform: translateX(-50px);
        transition: 1s all;
        
        a:hover {
          color: #13487c;
        }
      }

      .more {
        opacity: 0.4;
        transform: translateX(-50px);
        transition: 1s all;
      }
    }

    .img {
      position: absolute;
      right: 10%;
      left: 10%;
      top: calc(50vh - 300px);
      height: 600px;
      background: url('../images/session_imgs/ka_data.jpeg') no-repeat center;
      background-size: cover;
      opacity: 0.4;
      transform: translateX(150px);
      transition: 1s all;
      box-shadow: 3px 3px 3p #000;
    }

    &.enter {

      .text-1,
      .text-2,
      .text-3,
      .more {
        opacity: 1;
        transform: translateX(0);
      }

      .img {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .section-6 {
    position: relative;
    background: url(../images/session_imgs/bg_gu.jpeg) no-repeat;
    background-size: cover;

    .fp-tableCell {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .wrap {
      padding: 20px 40px;
      background: rgba($color: #fff, $alpha: 0.5);
      box-shadow:10px 10px 0 4px rgba($color: #fff, $alpha: 0.2);

      .name {
        font-size: 24px;
      }

      .info {
        padding: 10px;
        text-align: center;
      }

      a {
        color: #13487c;
      }

      .goTop {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        background: #fff;
        font-size: 20px;
        cursor: pointer;
        border-radius: 8px 8px 0 0;
      }
    }
  }
}

// list
.for-live {
  padding: 40px 100px;

  .live_titile {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .live_list {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    flex-wrap: wrap;
  }

  .live_item {
    margin-right: 20px;
    width: 400px;
    background: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
      .live_item_play {
        opacity: 1;
        transform: scale(1.2);
      }

      .live_item_title {
        color: #bd1c3d
      }
    }

    &_video {
      position: relative;
      border-radius: 4px;
      overflow: hidden;
    }

    &_img {
      width: 100%;
    }

    &_play {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 50px;
      height: 50px;
      margin-left: -25px;
      margin-top: -25px;
      z-index: 9;
      opacity: 0;
      transition: .3s all;
    }

    &_title {
      padding: 10px;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

// listZY
.for-liveZY {
  padding: 40px 0;

  .live_titile {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .live_list {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    flex-wrap: wrap;
  }

  .live_item {
    margin-right: 20px;
    width: 470px;
    background: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
      .live_item_play {
        opacity: 1;
        transform: scale(1.2);
      }

      .live_item_title {
        color: #bd1c3d
      }
    }

    &_video {
      position: relative;
      border-radius: 4px;
      max-height: 500px;
      overflow: hidden;
    }

    &_img {
      width: 100%;
    }

    &_play {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 50px;
      height: 50px;
      margin-left: -25px;
      margin-top: -25px;
      z-index: 9;
      opacity: 0;
      transition: .3s all;
    }

    &_title {
      padding: 10px;
      font-size: 24px;
      font-weight: bold;
    }
  }

  &.for-hot-liveZY {
    .live_item_video {
      max-height: 290px;
    }
  }
}

// pay
.pay-page {
  max-width: 1000px;
  margin: 30px auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .warning {
    width: 250px;
    margin-right: 20px;
    background: #eee;
    border-radius: 4px;
    border: 1px solid #ddd;

    &-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 20px 20px;
      padding: 20px 0;
      border-bottom: 1px solid #ddd;

      &-1 {
        font-size: 24px;
        color: #666;
        text-align: center;
      }

      &-2 {
        font-size: 20px;
        text-align: center;
      }
    }

    &-rules {
      color: #999;
      padding-bottom: 20px;

      li {
        position: relative;
        padding: 0 5px 5px 20px;

        &::after {
          content: '';
          position: absolute;
          left: 7px;
          top: 7px;
          width: 5px;
          height: 5px;
          background: #999;
          border-radius: 50%;
        }
      }
    }
  }

  &-content {
    flex: 1;

    .item {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 15px;
    }

    .account-input {
      padding: 10px;
      border: 1px solid #ced4df;
      width: 168px;
      height: 38px;
      margin-left: 20px;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .label {
      color: #474747;
      font-size: 16px;
      font-weight: 700;
      width: 80px;
      display: inline-block;
      text-align: right;
      vertical-align: top;
      padding-top: 11px;
    }

    .input_box {
      display: flex;
      justify-content: flex-start;
      width: 600px;
      flex-wrap: wrap;
      margin-left: 20px;
    }

    .amount, .mode {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 168px;
      height: 38px;
      border: 1px solid #ced4df;
      vertical-align: middle;
      border-radius: 3px;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;

      &:hover, &.active {
        border-color: #ff7601;
      }
    }

    .amount {
      .yuan {
        color: #474747;
        font-size: 14px;
      }

      .money {
        font-size: 12px;
        color: #bbb;
      }
    }

    .mode {
      background: url(../images/session_imgs/pay-types.png) no-repeat;

      &.alipay {
        background-position: 10px 4px;
      }

      &.weixin {
        background-position: 10px -84px
      }
    }

    .pay-now {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 50px;
      color: #fff;
      font-size: 18px;
      background: #13487c;
      border-radius: 4px;

      &:hover {
        background: rgba($color: #13487c, $alpha: 0.7);
      }
    }

    .pay-agreement {
      width: 100%;
      color: #bbb;
      margin-top: 10px;

      a {
        color: #13487c;
      }
    }
  }
}

// navbar
.headerBar {
  padding: 0 100px;
  height: 80px;
  line-height: 80px;
  font-size: 24px;
  background: #fff;
  box-shadow: 0 4px 4px #ccc;

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('../images/session_imgs/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
}

.content-main {
  min-height: 600px;
}

// 底部
.footer {
  margin-top: 50px;
  padding: 50px;
  background: #333;

  .info {
    padding: 10px;
    text-align: center;
    color: #fff;
  }
}


// 注册
.regBox {
  margin: 40px auto;
  border: #CCC solid 1px;
  text-align: center;
}

.reg_item {
  font: 14px/34px "宋体";
  width: 85px;
  text-align: right;
  display: inline-block;
}

.reg_item i {
  color: red;
  font-style: normal;
  margin-right: 5px;
}

.input_item {
  width: 340px;
  display: inline-block;

  &.code_input {
    width: 160px;
    margin-right: 18px;
  }
}

.vCode {
  display: inline-block;
}

.regBox {
  background: #fff;
}

.regBox li {
  height: 60px;
  vertical-align: top;
}

.regBox .autoLogin {
  height: 46px;
  padding: 0;
}

.regBox .login_cont {
  padding: 45px 76px 20px 76px;
}

.login_cont .resigter_btn {
  width: 306px;
  text-align: center;
  line-height: 36px;
  background: $clMain;
  color: #fff;
  font-size: 16px;
}

.loginBox .login_btn {
  width: 309px;
  height: 40px;
  background: $clMain;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
}

.login_partners {
  padding-top: 34px;
}

.login_list li {
  float: left;
  line-height: 20px;
}

.login_list span {
  color: #999;
  margin: 0 2px;
}

.regBox {
  margin: 40px auto;
  border: #CCC solid 1px;
  text-align: center;
}

.reg_item {
  font: 14px/34px "宋体";
  width: 85px;
  text-align: right;
  display: inline-block;
}

.reg_item i {
  color: red;
  font-style: normal;
  margin-right: 5px;
}

.input_item {
  width: 340px;
  display: inline-block;

  &.code_input {
    width: 160px;
    margin-right: 18px;
  }
}

.vCode {
  display: inline-block;
}

.regBox {
  background: #fff;
}

.regBox li {
  height: 60px;
  vertical-align: top;
}

.regBox .autoLogin {
  height: 46px;
  padding: 0;
}

.regBox .login_cont {
  padding: 45px 76px 20px 76px;
}

.login_cont .resigter_btn {
  width: 306px;
  text-align: center;
  line-height: 36px;
  background: $clMain;
  color: #fff;
  font-size: 16px;
}

// 登录
/*登陆*/
.login_input {
  border: #ccc solid 1px;
  height: 32px;
  line-height: 32px\9;
  text-indent: 5px;
  width: 100%;
}

.welcome_title {
  font: 28px/85px "Microsoft YaHei", "微软雅黑";
  color: #333;
  float: left;
  padding-left: 24px;
}

.loginBox {
  width: 350px;
  padding: 6px;
  background: rgba(255, 255, 255, 0.5);
  margin: 40px auto;
  position: relative;
  margin-right: 40px;
}

.login_con {
  padding: 5px;
  background: linear-gradient(45deg, black, transparent);
}

.login_cont {
  padding: 35px 25px;
  background: #fff;
}

.login_cont {
  .to_cus {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 12px;

    a {
      color: $clMain;
    }
  }

  .title {
    font-size: 20px;
  }

  .mb_10 {
    margin-bottom: 25px;
  }
}

.comWidth {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* 注册协议 */
.for_agreement {
  cursor: pointer;
}

.agreement {
  position: absolute;
  width: 800px;
  top: 100px;
  left: 50%;
  margin-left: -400px;
  background: #fff;
  display: none;
  z-index: 9;

  .a_tp {
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #e0e0e0;
    font-size: 15px;
    position: relative;

    .closebtn {
      font-size: 20px;
      color: #555;
      padding: 0 10px;
      position: absolute;
      right: 10px;
      top: 0;
      cursor: pointer;
    }
  }

  .content {
    height: 400px;
    overflow-y: scroll;
    padding: 10px 40px;
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0;
  }

  button {
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: $clMain;
    display: block;
    margin: 20px auto 40px auto;
    color: #fff;
  }
}

/*公用*/
.shadow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 4;
  display: none;
}

.line-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}