<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>关于我们</title>
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
</head>

<body class="about-page" cz-shortcut-listen="true" style="display: none!important;">
  <% include common/header.html %>
  <div class="bread-line list">
    <span class="title">关于我们</span>
  </div>

  <div class="about-page_content main-content">
    <div class="line">
      <div class="title">关于我们</div>
      <div class="main">
        <div class="about-detail" style="line-height:26px;">

          公司致力做好每一款动漫产品，主旨：自我研发、自主运营、拥有一支完整、成熟、具备高度技术能力的开发团队，公司核心成员来自全球知名公司，如:GIU、EA、盛大、腾讯、拥有丰富的从业经验，技术能力出，运营团队正在组建当中，将负责运营公司上线的所有动漫产品。<br><br>

          <strong>公司战略</strong> <br><br>

          （1）根植本土文化，孕育公司品牌<br><br>

          动漫具有很强的文化及价值观承载功能。作为一个具有深厚文化底蕴的大国，几千年的历史留给当代无数可歌可泣的英雄人物和传奇故事，《三国演义》、《水浒》等经典著作也都是现成的脚本。这些丰富的素材如果能够很好地被利用，一定可以开发出具有丰富文化内涵的、有创意的网络产品，并在故事、装备、技能等各个方面做出创新。"民族的，才是世界的"。正如刘永好说的："做产品是一分钱一分钱的赚；而做品牌是一毛钱一毛钱的赚。"我们不可以仅仅停留在对一款产品的运营商，我们需要创造出一个系列，创造属于公司自己的品牌！<br><br>

          （2）建立健全管理机制，创造发展的和谐氛围<br><br>

          组织结构决定组织效率。一台机器的结构不合理必然导致他低下的生产效率。动漫发展迅速的国家，首先就对管理及政府的引导和支持非常重视。<br><br>

          （3）引进先进技术，形成核心竞争力<br><br>

          技术问题的解决不是一朝一夕的事情。纵观世界经济发展史，我们能从日本的发展得到些许启示。而战刚刚结束时，日本的经济几乎到了崩溃的边缘。但是，通过对欧美先进技术的引进、吸收和发展，而一跃成为"亚洲四小龙"之一。因此，我认为，我们可以引进国外的先进技术来形成自己的竞争力。在动漫方面，欧美当然是世界一流的；在场景设计技术上，日本的经验值得我们借鉴。<br><br>

          （4）积极拓展韩日市场，开发欧美市场<br><br>

          从历史文化的角度考虑，在中国市场化运营过程中，我们应首先拓展韩日市场。中日韩三国地理上毗邻，在文化的交流和传承上有着历史渊源，研发具有历史关联的动漫易为消费者接受。我相信，随着我们与欧美国家的广泛合作和积极交流，公司在欧美打造出一片天地是不成问题的。
        </div>
      </div>
    </div>
    <div class="line">
      <div class="title">联系我们</div>
      <div class="main">
        <div class="about-detail">


          <strong>联系我们</strong> <br><br>
          公司邮箱：<br><br>
          公司地址：
        </div>
      </div>
    </div>
  </div>
  <% include common/footer.html %>
  </div>
</body>

</html>