<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>上海允悦文化传播有限公司</title>
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
</head>

<body class="home-page" cz-shortcut-listen="true" style="display: none!important;">
	<% include common/header.html %>
	<a href="./list.html" class="banner"></a>
	<!-- 漫画 -->
	<div class="cartoon-wrap main-content">
		<div class="special_title"><span class="in">动漫中心</span></div>
		<div class="cartoon-wrap_swiper">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<a href="./list.html" class="swiper-slide">
						<div class="img img-1"></div>
						<div class="title">刀鞘的孩子</div>
					</a>
					<a href="./list.html" class="swiper-slide">
						<div class="img img-2"></div>
						<div class="title">步天歌</div>
					</a>
					<a href="./list.html" class="swiper-slide">
						<div class="img img-3"></div>
						<div class="title">第N次恋爱</div>
					</a>
					<a href="./list.html" class="swiper-slide">
						<div class="img img-4"></div>
						<div class="title">魔道祖师</div>
					</a>
					<a href="./list.html" class="swiper-slide">
						<div class="img img-5"></div>
						<div class="title">万能恋爱杂货店</div>
					</a>
				</div>
			</div>
      <div class="pagination"></div>
    </div>
	</div>
	<!-- 关于我们 -->
	<div class="about-wrap main-content">
		<div class="special_title"><span class="in">关于我们</span></div>
		<div class="about-content">
			<div class="item">
				<div class="title">公司文化</div>
				<p>
					公司致力做好每一款动漫产品，主旨：自我研发、自主运营、拥有一支完整、成熟、具备高度技术能力的开发团队，公司核心成员来自全球知名公司，如:GIU、EA、盛大、腾讯、拥有丰富的从业经验，技术能力出，运营团队正在组建当中，将负责运营公司上线的所有动漫产品。
				</p>
			</div>
			<div class="item">
				<div class="title">公司核心</div>
				<p>
					动漫具有很强的文化及价值观承载功能。作为一个具有深厚文化底蕴的大国，几千年的历史留给当代无数可歌可泣的英雄人物和传奇故事。这些丰富的素材如果能够很好地被利用，一定可以开发出具有丰富文化内涵的、有创意的网络产品，并在故事、装备、技能等各个方面做出创新。"民族的，才是世界的"。
				</p>
			</div>
		</div>
	</div>
	<% include common/footer.html %>
</body>

</html>