<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>漫画中心</title>
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
</head>

<body class="list-page"
  cz-shortcut-listen="true" style="display: none!important;">
  <% include common/header.html %>

  <div class="bread-line list">
    <span class="title">动漫中心</span>
  </div>
  <div class="list-content main-content">
    <a href="./detail.html?content=message_1" class="list-content_item">
      <div class="img img-1"></div>
			<div class="title">刀鞘的孩子</div>
    </a>
    <a href="./detail.html?content=message_2" class="list-content_item">
      <div class="img img-2"></div>
			<div class="title">步天歌</div>
    </a>
    <a href="./detail.html?content=message_3" class="list-content_item">
      <div class="img img-3"></div>
			<div class="title">第N次恋爱</div>
    </a>
    <a href="./detail.html?content=message_4" class="list-content_item">
      <div class="img img-4"></div>
			<div class="title">魔道祖师</div>
    </a>
    <a href="./detail.html?content=message_5" class="list-content_item">
      <div class="img img-5"></div>
			<div class="title">万能恋爱杂货店</div>
    </a>
  </div>
  <% include common/footer.html %>
</body>

</html>