<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>首页</title>
</head>

<body class="index lang_en">
	<% include common/header.html %>
	<!-- About-one -->
	<section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
		<div class="container-fluid py-lg-5 py-md-5 py-sm-4 py-3">
			 <div class="title-sub text-left mb-lg-5 mb-md-4 mb-sm-4 mb-3">
					<h3 class="title mb-md-4 mb-sm-3 mb-3">为用户提供第一手经济资讯</h3>
			 </div>
			 <div class="row abt-colm pb-lg-4 pb-md-3 pb-3">
					<div class="col-lg-5 agile-info-img">
						 <img class="img-fluid ab1" alt="">
					</div>
					<div class="col-lg-5 agile-abt-info about-grid">
						 <h4>我们的核心实力</h4>
						 <div class="info-sub-w3">
								<p>网络各种资讯，对市场经济有着敏锐洞察
								</p>
						 </div>
						 <div class="outs-about-buttn mt-lg-4 mt-md-3 mt-3">
								<a href="./login.html" data-toggle="modal" data-target="#exampleModalLive">会员解锁</a>
						 </div>
					</div>
			 </div>
			 <div class="row abt-colm my-lg-5 my-md-4 my-3">
					<div class="offset-md-2 col-lg-5 agile-abt-info text-right">
						 <h4>我们的价值观</h4>
						 <div class="info-sub-w3">
								<p>绝不提供投资建议，不引导用户
								</p>
						 </div>
						 <div class="outs-about-buttn mt-lg-4 mt-md-3 mt-3">
								<a href="./login.html" data-toggle="modal" data-target="#exampleModalLive">会员解锁</a>
						 </div>
					</div>
					<div class="col-lg-5 agile-info-img about-grid">
						 <img class="img-fluid ab2" alt="">
					</div>
			 </div>
			 <div class="row abt-colm pt-lg-4 pt-md-3 pt-3">
					<div class="col-lg-5 agile-info-img">
						 <img class="img-fluid ab3" alt="">
					</div>
					<div class="col-lg-5 agile-abt-info about-grid">
						 <h4>我们正在做的</h4>
						 <div class="info-sub-w3">
								<p>为会员解读当前市场经济变化，提炼有价值信息</p>
						 </div>
						 <div class="outs-about-buttn mt-lg-4 mt-md-3 mt-3">
								<a href="./login.html" data-toggle="modal" data-target="#exampleModalLive">会员解锁</a>
						 </div>
					</div>
			 </div>
			 <!-- //About-one -->
		</div>
 </section>
 <!--states -->
 <section class="stats py-lg-4 py-md-3 py-sm-3 py-3 " id="stats">
		<div class="container py-lg-5 py-md-5 py-sm-4 py-3">
			 <div class="jst-must-info text-center">
					<div class="row stats-info">
						 <div class="col-md-3 col-sm-6 col-6 stats-grid-1">
								<div class=" stats-grid">
									 <div class="counter">2045</div>
									 <div class="stat-info">
											<h5 class="pt-2">付费用户数</h5>
									 </div>
								</div>
						 </div>
						 <div class="col-md-3 col-sm-6 col-6 stats-grid-2">
								<div class=" stats-grid">
									 <div class="counter">350</div>
									 <div class="stat-info">
											<h5 class="pt-2"> 专业解读数</h5>
									 </div>
								</div>
						 </div>
						 <div class="col-md-3 col-sm-6 col-6 stats-grid-3">
								<div class=" stats-grid">
									 <div class="counter">1000</div>
									 <div class="stat-info">
											<h5 class="pt-2"> 最新资讯数</h5>
									 </div>
								</div>
						 </div>
						 <div class="col-md-3 col-sm-6 col-6 stats-grid-4">
								<div class=" stats-grid">
									 <div class="counter">650</div>
									 <div class="stat-info">
											<h5 class="pt-2"> 用户评价数 </h5>
									 </div>
								</div>
						 </div>
					</div>
			 </div>
		</div>
 </section>
 <!--//states -->
 <!--service-->	
 <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
		<div class="container py-lg-5 py-md-5 py-sm-4 py-3">
			 <div class="title-sub text-right mb-lg-5 mb-md-4 mb-sm-4 mb-3">
					<h3 class="title mb-md-4 mb-sm-3 mb-3">商业合作</h3>
					<p>信息共享，坚持为用户提供最新的财经信息</p>
			 </div>
			 <div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-6 ser-icon text-center">
						 <span  class="fas fa-audio-description"></span >
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-6 ser-icon text-center">
						 <span  class="fab fa-cc-paypal"></span >
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-6 ser-icon text-center">
						 <span  class="fab fa-creative-commons"></span >
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-6 ser-icon text-center">
						 <span class="fab fa-behance-square"></span >
					</div>
			 </div>
		</div>
 </section>
 <!--//service-->
 <!-- clients -->
 <section class="clients py-lg-4 py-md-3 py-sm-3 py-3" id="testimonials">
		<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
			 <div class="title-sub text-left mb-lg-5 mb-md-4 mb-sm-4 mb-3">
					<h3 class="title clr mb-md-4 mb-sm-3 mb-3">用户都怎么说？</h3>
					<p class="text-white">以为都是用户对于我们平台的评价，感谢他们选择了我们！</p>
			 </div>
			 <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						 <div class="carousel-item active">
								<div class="row">
									 <div class="col-lg-9 col-md-8 col-sm-7 news-agile-text ">
											<p>为我从庞大的信息资讯中提炼出我最感兴趣的，很好！
											</p>
											<h4 class="mt-3">李先生
											</h4>
									 </div>
								</div>
						 </div>
						 <div class="carousel-item">
								<div class="row">
									 <div class="col-lg-9 col-md-8 col-sm-7 news-agile-text ">
											<p>和志同道合的人一起聊天，极大的开阔了自己的眼界。
											</p>
											<h4 class="mt-3">张先生
											</h4>
									 </div>
								</div>
						 </div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
					</a>
			 </div>
		</div>
 </section>
 <!--//clients -->
 <!-- blog -->
 <Section class="blog py-lg-4 py-md-3 py-sm-3 py-3" id="blog">
		<div class="container py-lg-5 py-md-5 py-sm-4 py-3">
			 <div class="title-sub text-right mb-lg-5 mb-md-4 mb-sm-4 mb-3">
					<h3 class="title mb-md-4 mb-sm-3 mb-3">专业解读</h3>
					<p>加入会员，立享最新经济解读资讯</p>
			 </div>
			 <div class="owl-carousel owl-theme">
					<div class="item">
						 <div class="clients-color">
								<div class="w3-agile-post-img">
									 <img class="img-thumbnail aa1" alt="">
									 <div class="blog-info">
											<a href="#" data-toggle="modal" data-target="#exampleModalLive">
												 <ul>
														<li>1</li>
														<li>30</li>
												 </ul>
											</a>
									 </div>
								</div>
								<div class="blog-txt-info">
									 <h4 class="my-3"><a href="./login.html" data-toggle="modal" data-target="#exampleModalLive">航司业绩全线巨亏，三大航每天亏掉1个亿！</a></h4>
									 <p>29日晚间，中国国航、东方航空、南方航空在内的多家上市航空公司先后发布了2020年度的业绩预告。受疫情影响，不少航空公司陷入巨额亏损。</p>
									 <div class="news-date-list pt-2">
											<ul>
												 <li class="mr-1"><a href="./login.html" data-toggle="modal" data-target="#exampleModalLive">1/29/2020</a></li>
											</ul>
									 </div>
								</div>
						 </div>
					</div>
					<div class=" item">
						 <div class="clients-color">
								<div class="w3-agile-post-img">
									 <img class="img-thumbnail aa2" alt="">
									 <div class="blog-info">
											<a href="#" data-toggle="modal" data-target="#exampleModalLive">
												 <ul>
														<li>12</li>
														<li>15</li>
												 </ul>
											</a>
									 </div>
								</div>
								<div class="blog-txt-info">
									 <h4 class="my-3"><a href="./login.html" data-toggle="modal" data-target="#exampleModalLive">汽油、柴油价格“六连涨” 加满一箱油多花3元钱</a></h4>
									 <p>这是2020年11月19日以来连续第5次上调。此次调价折合每升上调约6分。按50升的油箱容量计算，加满一箱油多花3元钱。</p>
									 <div class="news-date-list pt-2">
											<ul>
												 <li class="mr-1"><a href="./login.html" data-toggle="modal" data-target="#exampleModalLive">12/15/2019</a></li>
											</ul>
									 </div>
								</div>
						 </div>
					</div>
					<div class="item">
						 <div class="clients-color">
								<div class="w3-agile-post-img">
									 <img class="img-thumbnail aa3" alt="">
									 <div class="blog-info">
											<a href="#" data-toggle="modal" data-target="#exampleModalLive">
												 <ul>
														<li>11</li>
														<li>19</li>
												 </ul>
											</a>
									 </div>
								</div>
								<div class="blog-txt-info">
									 <h4 class="my-3"><a href="./login.html" data-toggle="modal" data-target="#exampleModalLive">房企开年疯狂发债，今年待偿债券余额将破万亿</a></h4>
									 <p>Wind数据显示，截至11月18日，房企境内发债规模已经来到680.98亿元，同时，内房企业海外发债规模来到129.13亿美元，直追2019年10月的历史高点。</p>
									 <div class="news-date-list pt-2">
											<ul>
												 <li class="mr-1"><a href="./login.html" data-toggle="modal" data-target="#exampleModalLive">11/18/2019</a></li>
											</ul>
									 </div>
								</div>
						 </div>
					</div>
					<div class="item">
						 <div class="clients-color">
								<div class="w3-agile-post-img">
									 <img class="img-thumbnail aa2" alt="">
									 <div class="blog-info">
											<a href="#" data-toggle="modal" data-target="#exampleModalLive">
												 <ul>
														<li>10</li>
														<li>12</li>
												 </ul>
											</a>
									 </div>
								</div>
								<div class="blog-txt-info">
									 <h4 class="my-3"><a href="./login.html" data-toggle="modal" data-target="#exampleModalLive">广电5G放号渐行渐近 已在二十多个省完成通话测试</a></h4>
									 <p>日前有消息称，中国广电方面表示，将推进非上市省网公司后续整合，推进省网子公司更名挂牌。此外，还有消息称，广电5G最快在今年放号。</p>
									 <div class="news-date-list pt-2">
											<ul>
												 <li class="mr-1"><a href="./login.html" data-toggle="modal" data-target="#exampleModalLive">10/12/2019</a></li>
											</ul>
									 </div>
								</div>
						 </div>
					</div>
			 </div>
		</div>
 </section>
	<% include common/footer.html %>
</body>

</html>