<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
</head>
<body style="display: none;" class="index with-vip">
<% include common/header.html %>
<div class="banner_pic_01">
	<div class="comWidth">
		<div class="text-main">
			<p class="line1">一站式解决专家</p>
			<p class="line2">高端自行车系统定制</p>
			<p class="line3">囊括行业热门技术，更加速度快、，贴近企业需求</p>
		</div>
	</div>
</div>
<div class="down-main" id="Featured">
	<div class="comWidth">
		<div class="mx-title">软件下载</div>
		<div class="sm-title">以下软件是付费软件，会员付费下载优惠</div>
		<div class="down-list">
			<div class="item">
				<div class="line1">
					<span class="title">有桩自行车系统</span>
					<span class="price">会员优惠价格298元</span>
				</div>
				<div class="line2">有桩自行车系统: 新一代串联式一体化管理，大容量管理，防盗管理，定位管理</div>
				<a href="./login.html" class="to-down">立即下载</a>
			</div>
			<div class="item">
				<div class="line1">
					<span class="title">公共自行车系统</span>
					<span class="price">会员优惠价格599元</span>
				</div>
				<div class="line2">公共自行车系统: 一车多桩，GPS定位，行车轨迹跟踪，运行数据监控</div>
				<a href="./login.html" class="to-down">立即下载</a>
			</div>
		</div>
	</div>
</div>
<div class="banner_pic_02">
	<div class="comWidth">
		<div class="text-main">
			<p class="line1">APP软件开发</p>
			<p class="line2">多年开发经验的专业外包团队，精准把控整个开发流程；深入贯彻全民客服理念，360度跟进你的需求，执着于设计的热爱；尊重每个项目设计沉浸其中专注而明锐的发现新的可能性。</p>
			<a href="./login.html" class="see-price">会员优惠价格298元起</a>
		</div>
	</div>
</div>
<div class="design-main">
	<div class="comWidth">
		<div class="mx-title">软件高端定制</div>
		<div class="sm-title">高端软件定制流程</div>
	</div>
	<div class="design-pic"><a href="./login.html" class="to-down"></a></div>
</div>

<% include common/footer.html %>
</body>
</html>
