<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
</head>
<body style="display: none;" class="index with-vip">
<% include common/header.html %>
<div class="banner_pic_01">
	<div class="comWidth">
		<div class="text-main">
			<p class="line1">一站式解决专家</p>
			<p class="line2">优秀方案私人定制</p>
			<p class="line3">囊括行业热点，更加速度快、贴近企业需求</p>
		</div>
	</div>
</div>
<div class="down-main" id="Featured">
	<div class="comWidth">
		<div class="mx-title">经典方案介绍</div>
		<div class="sm-title">以下方案是付费方案，会员付费查看优惠</div>
		<div class="down-list">
			<div class="item">
				<div class="line1">
					<span class="title">平台搭建管理方案</span>
					<span class="price">会员优惠价格2298元起</span>
				</div>
				<div class="line2">更高效率的活动运营；<br/>现有管理的更好的收益，降低未来管理的风险；<br/>更快、更简单和更快应急响应</div>
				<a href="./login.html" class="to-down">立即定制</a>
			</div>
			<div class="item">
				<div class="line1">
					<span class="title">专业粉丝应援方案</span>
					<span class="price">会员优惠价格3599元起</span>
				</div>
				<div class="line2">中日韩三国艺人，从一线乃至18线刚出道的新人练习生。歌手、影视剧演员、话剧演员、超级偶像、乐队、综艺大咖、但凡有点名气的都做！</div>
				<a href="./login.html" class="to-down">立即定制</a>
			</div>
		</div>
	</div>
</div>
<div class="banner_pic_02">
	<div class="comWidth">
		<div class="text-main">
			<p class="line1">活动文案成稿</p>
			<p class="line2">紧随潮流，根据用户需求确定活动主题，发掘用户的需求，抓住用户的心理，收获更多线上线下流量。</p>
			<a href="./login.html" class="see-price">会员优惠价格1298元起</a>
		</div>
	</div>
</div>
<div class="why-us">
	<div class="comWidth">
		<div class="mx-title">
			选择我们的三大优势
			<div class="en-title">THREE ADVANTAGE</div>
		</div>
		<div class="why-us-wrap">
			<div class="why-us-item">
				<div class="why-us-do">
					<a href="./login.html" class="to-down">立即定制</a>
				</div>
				<div class="pic pic-01">
					
				</div>
				<div class="intro">
					<p class="title">高效的团队优势</p>
					<p>多年从业经验，年轻务实</p>
				</div>
			</div>
			<div class="why-us-item">
				<div class="why-us-do">
					<a href="./login.html" class="to-down">立即定制</a>
				</div>
				<div class="intro">
					<p class="title">本地化服务优势</p>
					<p>7*24 快速响应服务模式，以客户满意为宗旨</p>
				</div>
				<div class="pic pic-02">
					
				</div>
			</div>
			<div class="why-us-item">
				<div class="why-us-do">
					<a href="./login.html" class="to-down">立即定制</a>
				</div>
				<div class="pic pic-03">
					
				</div>
				<div class="intro">
					<p class="title">多行业服务经验优势</p>
					<p>项目实施，售后服务保障等全方位服务</p>
				</div>
			</div>
		</div>
	</div>
</div>

<% include common/footer.html %>
</body>
</html>
