@import './_other.scss';

$clMain: #D81E06;
$total: 1920px;
$center: 1200px;
$mainRight: 880px;
$mainLeft: 300px;
$cl000: #000;
$clfff: #fff;
$cl333: #333;
$cl666: #666;
$cl999: #999;
$clf2f2f2: #f2f2f2;
$clef5b47: #ef5b47;
$cld9d9d9: #d9d9d9;
$clb6b5bb: #b6b5bb;
$cl262932: #262932;
$clebebeb: #ebebeb;
$cl2e210f: #2e210f;
$clfeda02: #feda02;
$cle0e0e0: #e0e0e0;
$cl9e9b96: #9e9b96;
$clf5f5f5: #f5f5f5;
$clf6f6f6: #f6f6f6;
$cl9b9b9b: #9b9b9b;
$cl59cc77: #59cc77;
$cld8d8d8: #d8d8d8;
$cl545454: #545454;
$clf1f1f1: #f1f1f1;
$cld7d7d7: #d7d7d7;
$clcf1132: #cf1132;

a {
	@include transitioned();
}
a:after{
	@include transitioned();
}