@import '../_tool/_variable.scss';
@import '../_tool/_other.scss';

/* nav */
#top {
	padding: 10px 0;
	margin-bottom: 100px;
	ul {
		li {
			float: left;
			border-right: 1px solid #3f3f3f;
			&:last-child {
				border-right: none;
			}
			i {
				width: 17px;
				height: 16px;
				margin-right: 5px;
				margin-top: 1px;
				display: inline-block;
				vertical-align: top;
				transition: transform .5s;
			    -moz-transition: -moz-transform .5s;
			    -webkit-transition: -webkit-transform .5s;
			    -o-transition: -o-transform .5s;
			}
			a {
				font-size: 12px;
				display: inline-block;
				padding: 0 10px;
				color: #3f3f3f;
				line-height: 21px;
			}
		}
	}
	.left_nav {
		float: left;
	}
	.right_nav {
		float: right;
		.for_lg {
			i {
				background: url('../images/lg.png') no-repeat center;
				background-size: contain;
			}
		}
		.for_register {
			i {
				background: url('../images/register.png') no-repeat center;
				background-size: contain;
			}
		}
		a:hover {
			i {
				-webkit-transform: rotateZ(360deg);
				-ms-transform: rotateZ(360deg);
				-o-transform: rotateZ(360deg);
				transform: rotateZ(360deg);
			}
		}
	}
}
#pro1_header {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 42px;
	background: rgba(255,255,255,.8);
    z-index: 9999;
	.top {
		height: 100px;
		line-height: 100px;
		position: relative;
		.right {
			float: right;
			margin-right: cal(150px, $center);
		}
		.left {
			float: left;
			.company-name {
				float: right;
				display: inline-block;
				vertical-align: middle;
				font-size: 22px;
				margin-left: 10px;
				text-shadow: 2px 2px 4px #999;
			}
		}
	}
	#logo {
		a {
			width: 185px;
			display: inline-block;
			vertical-align: middle;
			height: 100px;
			background: url('../images/logo-flat-midsize@2x.png') no-repeat center;
			background-size: contain;
		}
	}
	#nav {
		li {
			float: left;
			font-size: 16px;
		}
		a {
			color: #818181;
			display: block;
			padding: 0 10px;
			margin: 0 10px;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 5px;
				width: 0;
				background: $clMain;
			}
			&:hover,&.active {
				color: $clMain;
				&:after {
					width: 100%;
				}
			}
		}
	}
	#topOpen {
		position: absolute;
	    top: 0;
	    right: 0;
	    width: cal(120px, $center);
	    padding-bottom: cal(120px, $center);
	    background: $clcf1132;
	    z-index: 9999;
	    cursor: pointer;
	    @include transitioned();
	    &.slide_List {
	    	padding-bottom: cal(100px, $center);
	    	background: rgba(0,0,0,0.6);
	    	i {
	    		background-position: -34px 0;
	    	}
	    }
	    i {
	    	position: absolute;
	    	top: 50%;
	    	left: 50%;
	    	margin-left: -17px;
	    	margin-top: -17px;
		    width: 34px;
		    height: 34px;
		    display: block;
	    	background-image: url('../images/topBar.png');
	    	background-size: 68px 62px;
		    background-repeat: no-repeat;
		    @include transitioned();
	    }
	}
	#topNav {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: rgba(0,0,0,0.6);
		padding: 20px 0;
		box-sizing: border-box;
		.navList {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		p {
			font-size: 18px;
			margin-left: 20px;
			margin-bottom: 20px;
			color: #fff;
		}
		ul {
			width: 20%;
			dt {
				font-size: 16px;
				color: $cl999;
				margin-bottom: 15px;
				a {
					padding: 10px 8px;
					color: #fff;
					position: relative;
					display: block;
					background: $clMain;
					font-size: 14px;
					border: 1px solid $clMain;
					text-align: center;
					// &:before {
					// 	content: '';
					// 	width: 20px;
					// 	height: 20px;
					// 	position: absolute;
					// 	right: 100%;
					// 	top: 50%;
					// 	margin-top: -10px;
					// 	margin-right: 5px;
					// 	background: url('../images/index_tool.png');
					// 	background-position: 0 20px;
					// }
					&:before,&:after {
						content: '';
						display: block;
						position: absolute;
						box-sizing: border-box;
					    border: 1px solid transparent;
					    width: 0;
					    height: 0;
					}
					&:after {
					    top: 0;
					    left: 0;
					    -webkit-transition: border-color 0s ease-in 0.8s,width 0.2s ease-in 0.6s,height 0.2s ease-in 0.4s;
					    transition: border-color 0s ease-in 0.8s,width 0.2s ease-in 0.6s,height 0.2s ease-in 0.4s;
					}
					&:before {
						bottom: 0;
					    right: 0;
					    -webkit-transition: border-color 0s ease-in 0.4s,width 0.2s ease-in 0.2s,height 0.2s ease-in;
					    transition: border-color 0s ease-in 0.4s,width 0.2s ease-in 0.2s,height 0.2s ease-in;
					}
					&:hover {
						border: 1px solid #fff;
						&:after {
							width: 100%;
    						height: 100%;
    						border-top-color: #fff;
						    border-right-color: #fff;
						    -webkit-transition: width 0.2s ease-out,height 0.2s ease-out 0.2s;
						    transition: width 0.2s ease-out,height 0.2s ease-out 0.2s;
						}
						&:before {
							width: 100%;
    						height: 100%;
    						border-bottom-color: #fff;
						    border-left-color: #fff;
						    -webkit-transition: border-color 0s ease-out 0.4s,width 0.2s ease-out 0.4s,height 0.2s ease-out 0.6s;
						    transition: border-color 0s ease-out 0.4s,width 0.2s ease-out 0.4s,height 0.2s ease-out 0.6s;
						}
					}
				}
			}
			dd {
				margin-bottom: 5px;
				a {
					padding: 5px;
					color: $clf5f5f5;
				}
			}
		}
	}
}

/* footer */
#footer {
	padding: 25px 0 20px 0;
	background: #242323;
	text-align: center;
	position: relative;
	z-index: 1;

	.f_left,.f_right {
		display: inline-block;
		vertical-align: middle;
	}
	.f_logo {
		a {
			display: inline-block;
			height: 80px;
			width: 250px;
			background: url('../images/logo-flat-midsize@2x.png') no-repeat center;
			background-size: contain;
		}
	}
	.f_right {
		font-size: 14px;
		color: #999;
		text-align: left;
	}
	.slogan {
		margin: 5px 0;
		p {
			display: inline-block;
			vertical-align: top;
		}
	}
}
#f_module {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #2e2e2e;
	li {
		display: inline-block;
		a {
			font-size: 16px;
			color: #c5c5c5;
			padding: 0 8px;
			border-right: 1px solid #c5c5c5;
			&:hover {
				color: #fff;
			}
		}
		&:last-child {
			a {
				border: none;
			}
		}
	}
	
}
#main {
	position: relative;
	&:after {
	    content: "";
	    position: absolute;
	    left: 0;
	    top: -1px;
	    border-top: 4px solid #f76e32;
	    width: 100%;
	}
}
// 退出登录
.login-out {
	font-size: 12px;
		display: inline-block;
		padding: 0 10px;
		color: #3f3f3f;
		line-height: 21px;
	i {
		width: 17px;
		height: 16px;
		margin-right: 5px;
		margin-top: 1px;
		display: inline-block;
		vertical-align: top;
		transition: transform .5s;
	    -moz-transition: -moz-transform .5s;
	    -webkit-transition: -webkit-transform .5s;
	    -o-transition: -o-transform .5s;
	    background: url('../images/lg.png') no-repeat center;
		background-size: contain;
	}
}